[2015-04-03 17:20] iderdik opened #16 "Tasks endpoint does not return JSON"
For some reason, Marathon does not return JSON for its v2/tasks endpoint. This library expects a JSON response and fails with "failed to unmarshall the response from marathon," when calling client.GetAllTasks().

[2015-04-03 19:32] gambol99 commented on #16
Could you provide a sample of the json response from your /v2/tasks? .. also which version of Marathon?

[2015-04-03 21:03] gambol99 commented on #16
Hopefully the recent PR and merge will have fixed the issue [sha: 440265e769585625cbda198bb18f066504dfe877] ... If not, let me know ...

[2015-04-21 17:39] iderdik commented on #16
Sorry for late response. The issue still occurs (Marathon version 0.8). Here is the debug output:
[code]

The call was made as `Client.AllTasks()`

[2015-04-22 09:32] gambol99 commented on #16
Hiya ... this should have been fixed in https://github.com/gambol99/go-marathon/commit/440265e769585625cbda198bb18f066504dfe877 .. By default the /v2/tasks endpoint returns text/plain content ...I just need to enforce the accept: json/application header in the request.

[2015-04-22 21:59] iderdik commented on #16
Perfect. Thanks!

[2015-04-22 21:59] #16 closed

[2015-04-24 16:13] iderdik opened #19 "Unreliable IP retrieval for Event Subscription"
client.RegisterSubscription in subscription.go assumes that the interface passed in from the config is unique. On my (and I'm sure most) machines, there is are  IPv6 and IPv4  interfaces with the same name. The matching in the getInterfaceAddress in utils.go will most likely get an unusable address. I'm not sure what the best way to handle this is though :(. Perhaps optionally allow an IP to be ex

[2015-05-27 12:57] bobrik opened #23 "Listing apps with labels"
Marathon can filter apps with specific labels: mesosphere/marathon#1416. You can also embed tasks into apps to avoid extra requests with `embed=apps.tasks`.

I propose add an argument to `Marathon.Applications()`, like this:

[code]

I can come up with a PR.

[2015-05-27 13:04] bobrik commented on #23
It probably worth thinking how to extend that to other api endpoints that take params.

[2015-05-28 15:59] gambol99 commented on #23
Have to admit, I'm kinda inclined to provide a generic Params like struct, wrapping a map[string]interface and allow programmer to make the choice adding or not adding options. That way we don't have to add, remove, amend options per endpoint as Marathon evolves and changes it's API; The only danger I foresee down that road would be if the option alters the assumed response (i.e. struct) your expe

[2015-05-28 21:41] bobrik commented on #23
Well, `map[string]interface{}` is probably too much, `url.URL.Query()` is `map[string][]string`. I think we can do just `map[string]string` or use some interface that can convert itself to `map[string]string`.

Take a look at [elastic](https://github.com/olivere/elastic/blob/78b87db2a9c53fb29acfaca1c16764d66a7ac519/query.go). I can try to implement something like `Options` and iterate on it in PR.

[2015-05-29 18:55] gambol99 commented on #23
Sounds good to me

[2015-06-05 19:28] bdanofsky opened #28 "Authenticate http"
is there a way to set authentication for the client?
I need the equivalent of
curl -u

[2015-06-07 16:29] gambol99 commented on #28
https://github.com/gambol99/go-marathon/commit/c582f81aa76e807588eea6ac4ceda95d6500b497

[2015-06-09 17:09] #28 closed

[2015-06-09 21:30] bdanofsky commented on #28
may thanks for the quick fix, I'll give it a try.

[2015-07-29 12:44] njuettner opened #41 "Ping returns a false if marathon sends a pong back"
[code]

For me this looks like if it can ping it returns a false, but it should be a true or am I wrong?

[2015-07-29 14:14] njuettner commented on #41
I didn't take a look on the returning error it says "The resource does not exist"

[2015-07-31 06:46] #41 closed

[2015-08-14 09:20] gambol99 commented on #23
closing ... as the changes we're merged

[2015-08-14 09:20] #23 closed

[2015-08-31 20:58] Christopher-Bradshaw opened #49 "wait_on_running in CreateApplication immediately times out"
This
[code]
immediately times out. We should be able to pass a timeout time to WaitOnApplication. Perhaps changing wait_on_running to an int is easiest, and then.

[code]

If you want to do this, I can submit a PR.

[2015-09-01 16:10] gambol99 commented on #49
Change the wait_on_running from a boolean to a time.Duration and pass through to WaitOnApplication() would make sense ... The fact it's terminating straight away is a bit odd though, as a value of zero passed to WaitOnApplication() is defaulted to DefaultDeploymentTimeout: time.Duration(300) * time.Second [config.go](https://github.com/gambol99/go-marathon/blob/master/config.go#L52)

what version

[2015-09-01 21:09] Christopher-Bradshaw commented on #49
I took a closer look through your examples and realised that I was just not setting the client up correctly. I was initiating it with
`client, _ := marathon.NewClient(marathon.Config{URL: url})` which of course meant that the DefaultDeploymentTimeout was not set.

Thanks for the response, and sorry for taking up your time.

[2015-09-02 01:51] bhameyie opened #50 "create and update application not returning the response"
I noticed that in the current version the response from `UpdateApplication` or `CreateApplication` is only the error. For my use case, I would need these 2 operations to also return the deserialized `Application` (which is already available in those methods) so as to know the deployment ids.

[2015-09-02 01:53] bhameyie commented on #50
An alternative could be to add to 2 other methods for Creating and Updating the application so as not to break folks already using the library

[2015-09-02 11:47] gambol99 commented on #49
Perfect :-) ... thanks for getting back ..

[2015-09-02 17:13] gambol99 commented on #50
Yep, it make's sense! - and it's kind of pointless for both Create and Update to both decode the response and never return it, which is the case now. I've pushed the PR #51 and will merge shortly

[code]

[2015-09-02 17:13] #49 closed

[2015-09-03 02:51] bhameyie commented on #50
Thanks!

[2015-09-03 16:05] #50 closed

[2015-09-08 04:36] lowstz opened #53 "About license"
The license file use GPL2，but the Apache license used in source code
https://github.com/gambol99/go-marathon/blob/master/LICENSE

[2015-09-08 09:37] gambol99 commented on #53
Whoops :-) ... I think the licence was added by github when i created the repo. I'll switch the file now to Apache 2.0 to keep consistency ..

[2015-09-09 05:17] #53 closed

[2015-09-20 10:20] Raffo opened #56 "Improve unit tests"
I noticed that there a lot of unit tests missing for some of the operations. I'm opening this issue to keep track of this, so that some of us will eventually start working on this.

[2015-10-02 14:28] iderdik opened #58 "Application.ApplicationOK doesn't check for expected number of tasks"
In https://github.com/gambol99/go-marathon/blob/master/application.go#L337  the Application is marked OK if 0 tasks are running. There are times that a bad container is deployed and the application is marked ok if they all tasks are removed at the same time (while marathon retries them).

Would it be possible to add a check to ensure that the number of running tasks matches the expected number of

[2015-10-09 09:21] gambol99 commented on #58
Sorry for the delay ... Admittedly i'm not sure how best to get these numbers either ... I'll have a look into it though ..

[2015-10-10 23:02] gambol99 commented on #58
Might be overthinking it ... perhaps just checking the tasks count == application instances requested when deployed is enough. Though i recall there was an if the application is deployed via a group, as internally marathon set the .instances variable to zero and use's as a means to control dependencies

[code]
and the AllTaskRunning() method
[code]

[2015-10-12 14:32] iderdik commented on #58
That check does seem like it should work. I guess I'll need to make multiple calls to make sure the tasks stay running for a few seconds.

[2015-10-12 15:14] gambol99 opened #66 "generic logger"
Implement a generic logger interface, defaulting to glog but allowing the consumer to override and run their own ..

[2015-10-28 08:40] x-cray commented on #19
@gambol99 Did you consider using SSE stream rather? https://mesosphere.github.io/marathon/docs/rest-api.html#event-stream

[2015-10-28 17:07] Raffo opened #78 "Improved error handling"
I wanted to improve the current implementation of the error handling. To do this, I had to get rid of the simple handling that was in place till now. I'm working on a separate branch, we can discuss this in the following PR: https://github.com/gambol99/go-marathon/pull/77

PLEASE DO NOT MERGE THE PR! I want to discuss this with the community and understand how to proceed. We can maybe also think t

[2015-10-28 21:17] gambol99 commented on #19
hiya .. yeah, i saw marathon added the feature a month or so back and looked into using it; i think i stumbled on the same lib [eventsource](https://github.com/donovanhide/eventsource). As yet I've not got around to working on the feature ... a PR would be welcome though :-)

[2015-10-28 21:20] x-cray commented on #19
@gambol99 just making some final touches to PR. Will need to add some tests though =)

[2015-10-29 10:13] x-cray opened #80 "Golint conformance"
I'm opening this issue here for discussion on the subject. @eicca suggested (https://github.com/gambol99/go-marathon/pull/79#issuecomment-152015182) that we might consider making project code meet golint rules. However, there are many places which are not just simply missing doc comments but require renaming of exported names. This will definitely be a breaking change. So, two questions here:
* Do

[2015-10-29 10:30] x-cray commented on #66
BTW, how `config.LogOutput` is actually used?

[2015-10-29 14:05] eicca commented on #66
I assume it's not used any more. All logging is done with `glog` currently which is a bit inflexible.

[2015-10-29 14:07] x-cray commented on #66
Ok, I removed its assignment from examples code in #79

[2015-10-29 14:13] gambol99 commented on #66
@x-cray, it was left over from the previous logging code ... although this issue is supposed act as a reminder to replace that as well :-) ..

[2015-10-30 09:23] emilevauge opened #81 "Filter getTasks by status"
Hi!
Marathon's API allows to filter by status when retrieving tasks:
https://mesosphere.github.io/marathon/docs/rest-api.html#get-v2-tasks
It would be great to add that possibility here https://github.com/gambol99/go-marathon/blob/master/task.go#L59 by adding a parameter `status string` to the method `func (r *marathonClient) AllTasks() (*Tasks, error)`.
For now, it's impossible to get tasks' stat

[2015-10-30 20:48] eicca commented on #81
Makes sense!
It should also affect `ListTasks` https://github.com/gambol99/go-marathon/blob/master/task.go#L80 I think. To be honest I would prefer to get rid of the `ListTasks` as it's just a simple data manipulation.

[2015-10-30 21:08] eicca commented on #80
I think at this stage it would be nice to have some versioning and to have a simple changelog at least.

In my opinion it definitely makes sense. I started making changes some time ago here: https://github.com/eicca/go-marathon/commit/cc88c7f66dc2e2a167aae98183a22af2894187df but then I realized that there's much more to change, so I got lazy a bit :/

[2015-11-03 14:17] eicca commented on #81
@emilevauge I just pushed the changes to master. Can you please check if it solves the issue now?

[2015-11-03 14:56] emilevauge commented on #81
@eicca, great! I Will test that on [traefik](http://github.com/emilevauge/traefik) ASAP :)

[2015-11-05 23:01] #19 closed

[2015-11-09 16:58] Raffo commented on #78
This could be already a step in a much more minimal direction: https://github.com/Raffo/go-marathon/commit/bc23d5ae0467b23776c18b633c93f08473a78164

@eicca please have a look.

[2015-11-11 10:55] eicca commented on #80
There are two things left:
- events.go
- eventsource `Event.Id()` method

[2015-11-13 18:39] tracycodes opened #95 "HasApplication uses ListApplications and retrieves entire state of marathon"
When using the HasApplication function go-marathon queries through to marathon with the `apps` endpoint. In deployments with large numbers of applications this causes marathon to return a significant amount of data. Functionally, HasApplication seems nearly equivalent to Application (it just handles the ErrDoesNotExist error by returning a falsey value).

Is there any difference between the approa

[2015-11-13 22:29] timoreimann commented on #95
IMHO, there shouldn't be any functional difference. Replacing the existing implementation by a call to `Application(name)` (which maps to a REST call against `/apps/:appId` directly) sounds reasonable and more economic to me.

[2015-11-14 01:13] gambol99 commented on #95
@tracycodes .. yep! make's sense, the iteration of the apps isn't ideal at all. We can call Application(), if error, check for ErrDoesNotExist i.e. return false .. and any another errors passed straight back ... A PR would be most welcome :-)

[2015-11-14 11:50] #95 closed

[2015-11-17 00:16] timoreimann opened #101 "Generalize and enrich REST API error representations"
HTTP errors coming in from Marathon's REST API have a fairly limited representation in the library. In particular, the following two shortcomings exist:

1. HTTP error codes are not included, making fault analysis more difficult for clients than necessary.
1. For errors not represented by dedicated error structs, an attempt is made to retrieve a top-level `message` property from the HTTP response.

[2015-11-17 00:39] timoreimann commented on #101
I was already thinking about a solution approach and came up with the following:

1. Store the return code in a new base error struct.
2. Store the raw, unparsed JSON message in the error struct (and maybe add a `String()` implementation to print it nicely).

For errors where it makes sense that clients may want to react to it programmatically, we can continue to provide type-specific error struct

[2015-11-18 10:03] gambol99 commented on #101
Hi @timoreimann ... the idea seems sounds to me, it's similar to another PR which was raised. I personally prefer library out abstract out the errors, but ErrItemNotFound, ErrPermissionDenied etc rather than handing back the specifics, but your wrapping the details in a base error, wrapped in a generic error type .. i.e MarathonGenericError{code, json_response} <- ErrItemNotFound and allowing the

[2015-11-18 11:53] timoreimann commented on #101
@gambol99 I'm with you that, in general, strongly typed errors should be preferred over just dumping JSON strings. I think that once the library has matured enough with regards to error representation (that is, all kinds of Marathon errors are captured by well-populated, distinct error types and everything is well documented), we could remove the low level details again or keep them in only as a f

[2015-11-18 20:21] eicca commented on #101
There's one more possible solution used by https://github.com/google/go-github: we can return 3 arguments result, response, error. In this case error can be very simple and response will contain all the logic. It will be also more flexible, for example in case we still want to check response even if error didn't occur.

I'm not saying that it's better than proposed option, just want to be complete

[2015-11-19 17:14] timoreimann commented on #101
Interesting concept. I think it's a good idea to consider different approaches.

I digged a bit around the go-github code but couldn't really find out how they use the response. Do you have a better understanding than me?

The downside of the approach (apart from leaking abstractions) is that it increases the API surface area because you now have to deal with three parameters. Considering that we

[2015-11-20 18:45] mattes commented on #66
We are using a customized glog version. As soon as we include another package that imports the "original" glog version, we get a panic:

[code]

... which makes sense. Not sure how to solve this, yet.

[2015-11-20 19:11] mattes commented on #66
Maybe this helps: https://github.com/golang/glog/blob/master/glog.go#L914

[2015-11-20 21:53] eicca commented on #66
@mattes I think the best solution would be to not to use `glog` directly, rather injecting logger to the library through config.
I know that it was done in `grpc-go` for example: https://github.com/grpc/grpc-go/tree/master/grpclog
We can do the same, though maybe there are some better practices?

[2015-11-21 05:38] mattes commented on #66
ref: #103

[2015-11-21 18:18] mattes opened #104 "newCluster() broken code"
https://github.com/gambol99/go-marathon/blob/master/cluster.go#L90

`newCluster()` should first split by commas and then do the `url.Parse()`. I'm surprised that url.Parse isn't failing anyway. The marathon variables holds:

[code]

... and `Host` doesn't look like a valid host to me.

[2015-11-21 18:37] mattes opened #105 "Marathon in HA mode"
As proxying adds latency, we should try to find the leader (`/v2/leader` endpoint) in the cluster logic and then send all further requests to the master directly.

Whenever a http request failed then, we need to find the new leader.

[2015-11-21 20:07] timoreimann commented on #105
Have you evaluated whether the latency you describe actually makes a difference in your environment? I'm not convinced that the optimizations you suggest have a significant impact. Forwarding requests from a slave to the master should be very fast in regular setups where all Marathon nodes live in the same network. So I'd ask for caution to increase code complexity in this regard unless the benefi

[2015-11-21 22:10] mattes commented on #105
I have no reliable data right now unfortunately. Proxying always comes at a cost. Twice as many TCP connections, burnt CPU cycles, more points of failure, ... I think we can do better. In fact, I don't understand why we ended up with the current approach? I agree, complexity should be avoided. This is especially true for my "resending request" idea.

I can confirm all other points you mentioned in

[2015-11-23 02:13] mattes opened #106 "Why is `Marathon` an interface?"
I don't think an interface is really needed here and it doesn't feel like DRY. I mean how often are we planning to implement the `Marathon` interface? :-)

https://github.com/gambol99/go-marathon/blob/8ce3f764250b2de3f2c627d12ca7dd21bd5e7f93/client.go#L36

[2015-11-23 02:24] mattes opened #107 "Versionize tests/rest-api/methods.yml"
We should probably versionize the marathon mock, so we can eventually test against different marathon versions.

[2015-11-23 02:56] mattes commented on #101
@eicca Let's not expose the raw http data/ status codes to the user. I use this lib because I want to abstract the transportation layer away, meaning not dealing with raw marathon responses. :-)

I would like to propose a third approach that allows us to keep the `error` return type. `error` is just an [interface](https://golang.org/ref/spec#Errors). We can have better errors with minimal code cha

[2015-11-23 02:57] mattes commented on #78
Related to #101

[2015-11-23 09:15] gambol99 commented on #81
closing the issue as solved?

[2015-11-23 09:15] #81 closed

[2015-11-23 09:24] Raffo commented on #101
@timoreimann Did you have a look at this: https://github.com/Raffo/go-marathon/commit/bc23d5ae0467b23776c18b633c93f08473a78164 I was working on the same and had similar thoughts. Also, the PR @gambol99 @eicca are referring to is this one: https://github.com/gambol99/go-marathon/pull/77 . The work was indeed crappy, but you can see the idea and the discussion. I agree with you that we need somethin

[2015-11-23 10:27] emilevauge commented on #81
Yep :) Solved. Thanks!

[2015-11-23 10:34] eicca commented on #106
I think it's the same purpose as here: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/client.go#L35
it will allow easier mock testing, so user can inject another mocked marathon client instead of creating a wrapper. In this case it'd be nice to provide this mock implementation.

[2015-11-23 11:07] timoreimann commented on #106
I was also thinking that the purpose is testing-related.

The other alternative I heard of is to use more broad interfaces, like Readers and Writers. I've never tried that approach for something other than very small interfaces, however.

[2015-11-23 12:46] timoreimann commented on #101
@mattes Using type assertions is basically what I had in mind as well for those cases where you want to programmatically access certain fields contained in the error or want to further process the error in the code. As I reasoned in my first two posts to this issue, however, the common case for me is to simply display Marathon API errors so users know what to do. That's why I'd like to have the HT

[2015-11-23 13:08] timoreimann commented on #105
I actually think it was smart not to build in any optimization logic in the first place. Marathon is supposed to do a good job at handling fail-over, including making sure there's always an endpoint responding. Redoing part of this logic inside the library also duplicates part of the (operational) responsibility. I'm not saying that we shouldn't do it, just that it doesn't come for free and that w

[2015-11-23 13:12] timoreimann commented on #107
Are there already different Marathon versions? My understanding is there's only version 2.

[2015-11-23 13:15] timoreimann commented on #78
I'd suggest to either rephrase the ticket to a more specific feature request/bug or close it as there's nothing too concrete in here we can base further discussions/implementations on.

[2015-11-23 13:24] Raffo commented on #101
@timoreimann I believe that too, let's try to do one thing and do it good. Can we start from this? https://github.com/Raffo/go-marathon/commit/bc23d5ae0467b23776c18b633c93f08473a78164

[2015-11-23 13:25] Raffo commented on #78
@timoreimann  We can continue in your issue (it's more active) even if this is older. I close the issue.

[2015-11-23 13:25] #78 closed

[2015-11-23 17:44] mattes commented on #107
`v0.11` added `taskStats` for example. v0.10.0 added a complete new endpoint `DELETE /v2/queue/{appId}/delay`.

[2015-11-23 17:50] mattes commented on #106
I like that mocking idea. Now that I start thinking about this, wouldn't it be nice, if go-marathon offered a marathon mock implementation?

[2015-11-23 17:56] mattes commented on #105
We essentially try to guarantee that a Docker container we start is reachable within less than a second. The fluctuation is high.

[2015-11-23 18:44] timoreimann commented on #106
I was thinking the same already but would opt for a fake instead. Unlike a mock where you need to specify behavior (which is an implementation detail), a fake exposes the same API but comes with a simplified implementation. In our case, we'd probably want an in-memory backend instead of a full-blown cluster. (There's a post on the Google testing blog explaining why fakes (and stubs) are often bett

[2015-11-23 19:00] eicca commented on #106
I was just thinking about it and I didn't come up with an idea how to do it in a simple and flexible way. User needs a way to precisely specify what needs to be returned from a specific marathon call. Maybe I need to check kubernetes code more.

Another idea could be is to provide a fake marathon server (we already use something similar in our tests). In this case it would be crystal clear how to

[2015-11-23 20:06] eicca commented on #107
I think we can just keep up with latest marathon updates until it reaches a stable version. I don't see a lot of sense in supporting pre-release versions.

[2015-11-23 20:40] eicca commented on #101
I played around with the different errors implementations and I agree with all of you about having structs for different errors.

We need to try to implement it in a clean way with a good methods documentation, so user will know which error types a method could return.

Sorry, I missed this one earlier. It looks like a proper direction, however I'm not sure about the implementation details. For ex

[2015-11-23 20:48] timoreimann commented on #107
IIRC, the previous Marathon changes were all non-breaking, feature-adding ones. In that sense, there should be no current need to version.

If/when Marathon decides to do an important breaking change/bring out a new major-version release, we should reconsider. Depending on the concrete change, however, we may be able to support both old and new APIs and thus still need not bother with versioning.

[2015-11-23 20:52] eicca commented on #107
@timoreimann :+1:

[2015-11-23 20:52] timoreimann commented on #101
I'm with @eicca here: Conceptually, we're on the same page, and implementation details need to be sorted out. Let's discuss in detail again once my PR is ready.

(Ideally, I'd like #103 to finish first as it changes quite a few places my PR would need to rely on.)

[2015-11-23 21:07] mattes commented on #107
Okay. Closing. :-)

[2015-11-23 21:07] #107 closed

[2015-11-23 23:07] timoreimann commented on #106
I'd rename the issue to something like _Build Marathon API test double_ at this stage.

[2015-11-24 01:02] mattes opened #108 "Marathon mock"
Idea: Use the `Marathon interface{}` to provide an in-memory mock of marathon.

[2015-11-24 01:02] mattes commented on #106
Closing in favor of #108

[2015-11-24 01:02] #106 closed

[2015-11-24 09:23] Raffo commented on #101
@eicca No problem :-) That's why I said "start from here". I think it's the direction to go, we can sort the implementation details together.

[2015-11-26 10:54] timoreimann commented on #108
Or fake.

[2015-11-27 10:13] #66 closed

[2015-12-02 09:20] gambol99 commented on #104
@mattes agreed! ... we should validate each one ... I'll raise a PR

[2015-12-06 14:14] timoreimann opened #110 "Add tests for WaitOnApplication"
The method in question does not seem to be covered by tests. We should do that.

[2015-12-09 02:13] lokeshverizon opened #111 "kill task does not work if app id has hierarchical path"
[code]

[2015-12-09 08:04] timoreimann commented on #111
If I understand you correctly, the issue is about Marathon app names containing slashes that would end up in task IDs again. Looking at the [official REST documentation](https://mesosphere.github.io/marathon/docs/rest-api.html#post-v2-apps) (see the _identifier_ section), however, such Marathon IDs should be rejected in the first place as the slash is not among the set of allowed characters.

Am I

[2015-12-10 04:18] lokeshverizon commented on #111
we can have app id with hierachical name. /group/project/application.
Hence appid = /group/project/application
marathon is able to launch this application. this is converted to mesostask as:
group_project_application.<taskid>
with current API: it gives: group_project_application
which fails.

[2015-12-10 04:19] lokeshverizon commented on #111
also in the doc you mentioned:     "id": "/product/service/myApp",

which is similar case as mine.

[2015-12-10 04:24] lokeshverizon opened #112 "kill Task does not work when scale=true is used."
KillTask(taskID string, scale bool) (*Task, error)

does not work properly with scale=true. (scale=true) does not take affect. Based on the debugging I found: rest API which is passed is:
 http://10.1.42.1:19090/v2/apps/appid/tasks/taskid  {"bool":true}

it should be
http://162.47.116.88:19090/v2/apps//appid/tasks/taskid?scale=true

As marathon GUI uses kill&scale on task above URL.

[2015-12-10 14:25] eicca commented on #112
I can confirm this, marathon expects parameters to be in the url.

I started fixing the bug here: https://github.com/gambol99/go-marathon/compare/master...eicca:refactor-tasks

I'm going to prepare a PR soon.

[2015-12-10 19:16] jglobant opened #113 "Application example does not remove app"
Executing the applications-example a second time it gives me:
Failed, error: conflicting resource
I will commit a fix soon

[2015-12-10 19:32] lokeshverizon commented on #111
let me know if you need more info. i have local fix for this now.
 appName := strings.Replace(appNamewithUnderScore, "_", "/", -1)
but would prefer to get it fix here.

[2015-12-10 20:12] jglobant commented on #113
replace this
[code]
with this
[code]

[2015-12-10 20:38] jglobant commented on #113
close issue because of PR

[2015-12-10 20:38] #113 closed

[2015-12-16 15:21] oolongbrothers opened #118 "By design? ApplicationOk returns true for health checks without results"
Is it by design that `ApplicationOk` returns `true` if an application has a health check defined but the health check result being `nil`?

We're talking about this section of code here:
[code]

What I am trying to accomplish is to implement a zero-downtime deployment where an older version of an app (e.g. `/my/app/v1`) should continue to run until the new one (e.g. `/my/app/v2`) has been deployed

[2015-12-17 00:48] timoreimann commented on #118
I don't know exactly why the decision to consider tasks with missing health checks as healthy was made. It took place along [this commit](https://github.com/gambol99/go-marathon/commit/1a00a84472b9dfbb83e84d8644aaa15098eb2cc2), so hopefully @iderdik remembers.

My guess is that it's related to https://github.com/mesosphere/marathon/issues/1270. If that's the case, then I'd opt for dropping the log

[2015-12-17 11:41] oolongbrothers commented on #118
Thank you for the insight, timoreimann. I realise that I was maybe a bit imprecise with my description though.

The code from 1a00a84472b9dfbb83e84d8644aaa15098eb2cc2 that you reference, is this one:
[code]
This is not causing the false positives (unknown == ok) I'm talking about. It's rather the condition on line 372 in combination with the final line of the function:
[code]
This causes the funct

[2015-12-17 21:29] #112 closed

[2016-01-07 19:22] timoreimann commented on #104
@gambol99 Are you working on this one? Otherwise, I'd like to take a stab.

[2016-01-11 11:59] timoreimann commented on #104
After a bit of investigation, I don't think we need to make any significant changes. Specifically,

1. The parsed `Host` field is [already split on comma](https://github.com/gambol99/go-marathon/blob/master/cluster.go#L104), so we're not using the comma-separated list directly. Parsing the `marathonURL` passed to `newCluster` still makes sense though since the schema needs to be (and is) verified.

[2016-01-13 08:56] timoreimann commented on #104
I put together a PR based on my observations/assumptions pro-actively. Happy to discuss. :)

[2016-01-13 17:23] Raffo commented on #101
This has been stuck forever... any update?

[2016-01-13 17:33] timoreimann commented on #101
I'm working on it in this very moment. Hope to send out a PR still within the week.

[2016-01-13 22:00] #104 closed

[2016-01-18 10:21] emilevauge opened #122 "Add support to (insecure) TLS"
Hi!
Marathon support [securing its API endpoints via SSL](
https://mesosphere.github.io/marathon/docs/ssl-basic-access-authentication.html).
It would be great to support that in go-marathon.
It would also be useful to add the possibility to accept self-generated certificates in this case:`tls.Config.InsecureSkipVerify`.

[2016-01-21 15:25] timoreimann commented on #101
PR out.

Note that I haven't included the HTTP error codes despite this being one of my original motivations. The reason being that Marathon doesn't seem to come with as many different error types as I initially thought: I went through the entire [REST API](https://mesosphere.github.io/marathon/docs/generated/api.html) and tried to make sure that everything is covered. And even if something may ha

[2016-01-21 16:42] Raffo commented on #101
I'll have a look at the PR and see if I can provide some valid comment. The Marathon API is indeed not good, the status code and the possibility for error handling are limited.

[2016-01-26 12:08] gambol99 commented on #122
Adding the PR #125

[2016-02-02 11:00] gambol99 commented on #122
@emilevauge you can override the http client if you wish now ... https://github.com/gambol99/go-marathon/blob/master/README.md#custom-http-client ...

[2016-02-03 22:21] timoreimann commented on #101
Will close the ticket as the PR has been merged. We can open a new ticket should the need to expose low level protocol information rise again.

Thanks to everyone involved!

[2016-02-03 22:21] #101 closed

[2016-02-11 08:37] emilevauge commented on #122
Thanks a lot!

[2016-02-11 08:37] #122 closed

[2016-04-04 10:08] timoreimann opened #137 "Depointerize maps and slices for JSON serialization"
As reference types, both maps and slices are `nil` when declared and become empty when initialized. Thus, we don't need to pointerize these data types when it comes to distinguishing omitted and empty values for JSON serialization.

Brought up in https://github.com/gambol99/go-marathon/pull/127#issuecomment-205020994 by @bobrik (/cc @kesselborn).

[2016-04-04 10:09] timoreimann commented on #137
Will put together a PR.

[2016-04-04 17:18] #137 closed

[2016-04-15 07:40] timoreimann opened #141 "Add missing deserialization tests"
There's a fairly large discrepancy between the number of fields we populated the test YML file with and the amount of test checks we have. Effectively, this boils down to a lack of test coverage with regards to deserialization. At the same time, we have lots of duplication in the test messages. While this can be reasonable at times, in our case it mostly seems superfluous.

We should attempt to cl

[2016-04-28 16:55] mhausenblas commented on #141
Unsure if this is the best place or if you want me to open a new issue for this. When I unmarshal:

	"docker": {
		"image": "python:3",
		"network": "BRIDGE",
		"portMappings": [
			{
				"containerPort": 8080,
				"hostPort": 0
			}
		]
	}

then I get a:

	FATA[0000] Failed to create application null. Error: Marathon API error: Object is not valid (attribute '': )`

I need to add: `"servicePort":

[2016-04-28 21:32] timoreimann commented on #141
@mhausenblas In which context does the error show up exactly? You say _unmarshal_ but the error message indicates that this is happening when you create an application (i.e., send a POST to the Marathon API).

Also, what version of Marathon are you testing against?

I think we should address this problem in a new issue. While you could be hitting a case that proper test coverage (the goal of this

[2016-04-28 21:35] timoreimann commented on #58
This seems fixed, so I'm closing the ticket. Please reopen in case there's still something missing.

[2016-04-28 21:35] #58 closed

[2016-04-28 23:23] timoreimann commented on #118
@oolongbrothers, major apologies for going silent on this one. I can only suspect that I forgot about the issue over last year's Christmas holidays.

I noticed the "offending" nil check has been refactored away by now. Is the existing go-marathon behavior still causing troubles for you? In case it does, I'd be happy to follow you through any required changes -- promised this time. :)

Thanks.

[2016-04-28 23:34] timoreimann commented on #111
Taking over this one.

@lokeshverizon, are you still interested in fixing this upstream? I'd be happy to review any pull requests you submit

[2016-04-28 23:36] timoreimann commented on #56
More specific sub-issues are #110 and #141 .

[2016-04-29 05:20] mhausenblas opened #144 "Optional Marathon app spec attributes causing fatal error"
When I'm [trying to ](https://github.com/mhausenblas/dploy/blob/master/src/github.com/mhausenblas/dploy/dploy/util.go#L121) read following Marathon app spec from a file and then launch it:

	"docker": {
		"image": "python:3",
		"network": "BRIDGE",
		"portMappings": [
			{
				"containerPort": 8080,
				"hostPort": 0
			}
		]
	}

then I get a:

	FATA[0000] Failed to create application null. Error:

[2016-04-29 05:20] mhausenblas commented on #141
Thanks @timoreimann and done: #144

[2016-04-29 12:40] timoreimann commented on #144
Thanks for the details. It seems like the request goes out to Marathon but won't be accepted, possibly because go-marathon isn't doing serialization correctly.

Will look into this, surely at the latest next week.

[2016-04-29 12:54] mhausenblas commented on #144
Much appreciated, no hurries and KUTGW— I ❤️ your lib!

[2016-04-29 16:14] #80 closed

[2016-04-29 16:31] timoreimann opened #145 "Vendor dependencies"
We currently use `go get` to pull in dependencies and thus rely on HEAD-level compatibility for all third party packages. With vendoring becoming the default mechanism in Go to manage and pin dependencies, I suggest to introduce that in order to provide some means of protection from breaking and more subtle, non-breaking upstream changes.

FWIW, my organization happened to have reviewed a number o

[2016-04-29 23:36] timoreimann commented on #144
@mhausenblas glad to hear, thanks. 🌟

I seemed to have identified the problem: [PortMapping.Protocol](https://github.com/gambol99/go-marathon/blob/93fc3db660ffd86fa7fece3e0f9d33b0d0b37494/docker.go#L36) is missing the `omitempty` tag, causing an empty string to be encoded when not explicitly setting the field otherwise. I'll put together a PR next.

Side note: I noticed that the error message retu

[2016-04-30 04:59] mhausenblas commented on #144
Awesome, thanks and yes will raise with our Marathon team!

[2016-04-30 06:24] #144 closed

[2016-05-12 16:30] emilevauge opened #148 "Basic Auth/TLS broken in marathonClient.AddEventsListener()"
When we create a marathon client with basic auth and/or TLS, the call to `marathonClient.AddEventsListener()` returns an error:

[code]

with TLS:

[code]
Here is the code used to register listeners: https://github.com/containous/traefik/blob/master/provider/marathon.go#L67

It seems marathonClient.AddEventsListener() doesn't use TLS/basic auth client config.

[2016-05-17 11:30] dmajere commented on #108
@mattes, @timoreimann
Hi, guys.
I've been using marathon mock based on testify.mock library. Check it out in this gist - https://gist.github.com/dmajere/3ea25e488cd0a02a507fa77cb3c2c76a

If you like it, i can make a PR

[2016-05-20 08:02] dmajere commented on #111
When you're trying to create marathon application, it will split your AppID into segments by "/", and then check if every segment is matching
`^(([a-z0-9]|[a-z0-9][a-z0-9\\-]*[a-z0-9])\\.)*([a-z0-9]|[a-z0-9][a-z0-9\\-]*[a-z0-9])$|^(\\.|\\.\\.)$`

I've been thinking about implementing the same AppID validation in go-marathon library, so it can be run in app.Name() method and Application constructor

[2016-05-24 16:17] iderdik opened #151 "Odd Error object issue"
My app was having Marathon connectivity issues and unexpectedly panicked when using the `err` object  returned by `client.CreateApplication`.

My code:

[code]

The call to `log.Error(err)` prints '`<nil>`' and the call to `err.Error()` panics with a null pointer exception. Since this is all wrapped by `if err != nil`, it feels like the err object returned by `.CreateApplication` (https://github.c

[2016-05-24 22:19] timoreimann opened #152 "Failure to parse content from error response causes nil error to be returned to caller"
When [parseContent()](https://github.com/gambol99/go-marathon/blob/52466f39391c90839b2a75715d5c5af68b7e7502/error.go#L85) fails, it returns a `(nil, err)` pair to the [call site](https://github.com/gambol99/go-marathon/blob/52466f39391c90839b2a75715d5c5af68b7e7502/client.go#L280). We log the parse error dutifully but also [return](https://github.com/gambol99/go-marathon/blob/52466f39391c90839b2a75

[2016-05-24 22:25] timoreimann commented on #151
The problem is likely within [error.go](https://github.com/gambol99/go-marathon/blob/52466f39391c90839b2a75715d5c5af68b7e7502/error.go). I already found one issue (#152) while going through the code; however, I don't think it's related to your case.

Will dig deeper tomorrow. In the meantime, could you tell me what version of Marathon you are using? Are you running on the latest go-marathon HEAD v

[2016-05-25 18:29] arichardet commented on #148
Any resolution on this?

[2016-05-25 20:17] timoreimann commented on #148
@arichardet I suppose PR #142 will provide a fix for the problem once it has been merged.

[2016-05-25 20:35] gambol99 commented on #148
@timoreimann ... i think #142 fixes the auth but not TLS. I've raised a PR https://github.com/donovanhide/eventsource/pull/22 to permit overriding the client

[2016-05-25 20:36] timoreimann commented on #148
Good point, those are indeed two different issues. Thanks!

[2016-05-25 20:48] timoreimann commented on #145
I ran across [Peter Burgon's updated blog post on Go best practices](https://peter.bourgon.org/go-best-practices-2016/#dependency-management) where he explains that vendoring dependencies in libraries is often a bad thing to do. (Follow the included links for details. It boils down to exports of the vendored dependencies not being accessible by consumers anymore.) However, there's an exception for

[2016-05-25 20:56] timoreimann commented on #145
I also gained a few more insights into existing vendor tools:

- Some folks at Kubernetes are very much in dislike of godep mostly claiming its opaque nature to complicate things a lot. They are striving to move to glide.
- I played around with glide and mostly liked it. One big caveat I saw is that it pulls in dependent packages completely whereas other tools like govendor trim things down to the

[2016-05-25 21:18] #110 closed

[2016-05-27 10:24] dmajere commented on #111
This one is solved with #150

[2016-05-27 10:31] #111 closed

[2016-05-27 15:54] iderdik commented on #151
Marathon version is v.15.1. I'm not on the latest version of go-marathon but not too old  (sha: 9cbc78ff19ebab78a7ad78e2f2be310d81775c79). Subsequent commits did not seem to deal with this area.

I can't reproduce this reliably at all :(. I have noticed it seems to happen when Marathon is unhappy and showing a `503` error when accessing the UI. Hope this helps!

[2016-05-27 17:15] kesselborn opened #153 "go-marathon does not work with marathon 1.1.1 due to changed deployments/steps schema"
go-marathon does not work correctly anymore with marathon 1.1.1 as the deployments/steps schema was changed.
Up to now it looks more like this is a [marathon bug](https://github.com/mesosphere/marathon/issues/3820) which currently is set to fixed but does not fix the real problem (see [comment on the issue](https://github.com/mesosphere/marathon/issues/3820#issuecomment-222201282) ).
This issue is

[2016-05-27 18:12] timoreimann commented on #153
PR would be very much appreciated once the situation has cleared up. :+1:

[2016-05-27 19:31] timoreimann commented on #153
(updated the first broken link in the description. Github issue references don't seem to work when used together with custom links)

[2016-05-27 19:38] kesselborn commented on #153
@timoreimann oh, thanks

[2016-06-02 21:29] mlerner commented on #145
@timoreimann I really like glide (and we use it for all Go projects at Strava). I see your criticism, but it is also easy to setup and understand.

[2016-06-04 19:24] timoreimann commented on #152
After having taken a closer look at the code path at hand, I was surprised to see that we actually return an `APIError` instance that's non-nil. I can't make complete sense out of it yet; the problem can be reduced to the the following sample case: https://play.golang.org/p/cOrHfJURLD

The fix proposal I gave in the issue description should still hold though.

[2016-06-04 19:26] timoreimann commented on #151
Turned out that the bug filed under #152 is in fact the culprit for the problem described. (See also [my comment](https://github.com/gambol99/go-marathon/issues/152#issuecomment-223773440) on the issue.) Will try to put together a fix soonish.

[2016-06-04 19:27] seh commented on #152
Related FAQ: [_Why is my nil error value not equal to nil?_](https://golang.org/doc/faq#nil_error)

[2016-06-04 19:42] timoreimann commented on #152
@seh That explains it perfectly. I read that part of the FAQ such a long while ago that it totally went off my radar. Thanks for the pointer!

[2016-06-05 20:53] #151 closed

[2016-06-05 20:53] #152 closed

[2016-06-05 20:55] timoreimann commented on #151
@iderdik problem should hopefully be fixed now. If not, please reopen this issue or create a new one, whatever you deem more appropriate.

Thanks!

[2016-06-05 21:02] iderdik commented on #151
Awesome - I'll give it a try and report back here. Thanks for the quick resolution!

[2016-06-05 21:25] timoreimann commented on #145
@mlerner Thanks for your input. To me, glide actually seems somewhat more complicated to use and understand compared to govendor, something I mostly attribute to the fact that glide comes with more features. That said, I don't think the gap is too wide.

The main concern I raised regarding vendor directory size in glide is probably not going to matter a lot for go-marathon, so I'd be happy to move

[2016-06-07 19:56] timoreimann commented on #153
@kesselborn with #158 being merged, do you think we should  keep this issue open in order to track how mesosphere/marathon#3965 evolves? Or close this one instead and open a new issue if the API changes again?

[2016-06-08 14:24] jacob-koren opened #162 "createApplication with tested config fails"
I tried this config directly in my marathon instance and it works.
But using the API it returns:

**error: Marathon API error: Object is not valid (attribute '': )**

{
  "id": "/appname",
  "container": {
    "type": "DOCKER",
    "docker": {
      "forcePullImage": true,
      "image": "dockerimagelocation",
      "network": "BRIDGE",
      "parameters": [],
      "portMappings": [
        {

[2016-06-08 14:31] timoreimann commented on #162
I think we have two problems here:

1. The error response not being parsed correctly.
1. A supposed disparity between a particular configuration being fed to Marathon directly vs. routing through go-marathon.

I probably already know what the first point is about: Marathon has been changing (aka breaking) its error responses multiple times, and go-marathon has not been updated to the latest change

[2016-06-08 14:41] jacob-koren commented on #162
1. Create an Application instance
2. I Forked from 224bc9666affd2cf594f5a2e7e781a2598d630b8

[2016-06-08 14:43] timoreimann commented on #162
Forgot to ask: What Marathon version are we talking about?

[2016-06-08 15:01] jacob-koren commented on #162
1.1.1

[2016-06-08 15:12] timoreimann commented on #162
Thanks for reporting and the details. Will try to reproduce it on my end.

[2016-06-08 15:41] timoreimann commented on #162
Your JSON specification seems invalid. Have a look yourself: http://jsoneditoronline.org/?id=fcf3128c9e693a80bca06820509ea685

Removing the illegal trailing comma, I was able to deploy your specification just fine with the following sample code:

[code]

[2016-06-08 16:54] jacob-koren commented on #162
But I didn't created the json directly. I was populating an Application object and using the API

[2016-06-08 17:01] timoreimann commented on #162
@jacob-koren Ah sorry, I misunderstood you here. Could you then please provide a full example of how you used the API to populate an `application` instance and send out the request?

[2016-06-08 19:29] jacob-koren commented on #162
func main() {

	argCount := len(os.Args[1:])

	client := createClient();

	fmt.Println("Starting upgrade processs...")

	if argCount == 0 {
		fmt.Println("Please provide appId for the upgrade process: ")
		listApplications(client)
		return
	}

	application := getAppConfig(client, os.Args[1])
	greenApp := new(marathon.Application)

	greenApp.Container = application.Container
	greenApp.ID = applicat

[2016-06-08 19:31] jacob-koren commented on #162
I'm basically getting the config of a running app and trying to clone it with different appID

[2016-06-08 20:25] jacob-koren commented on #162
The trailing comma is because i deleted security sensitive data from the message. The API does not produce any trailing commas.

[2016-06-08 21:49] timoreimann commented on #162
Here's the actual JSON response (that go-marathon currently fails to deserialize) from the error message:

[code]

The error seems legitimate since Marathon [does not allow multiple apps to share the same service port](https://mesosphere.github.io/marathon/docs/ports.html). Clearing the service port on the cloned app prior to sending out the creation request solves the problem and lets Marathon pi

[2016-06-08 21:53] timoreimann opened #164 "HTTP error code 422 (Unprocessable Entity) not deserialized correctly"
At least for Marathon 1.1.1, go-marathon does not deserialize the error message from a 422 response properly: As found out in #162, the JSON body

[code]

produces the [APIError](https://github.com/gambol99/go-marathon/blob/697a616b3996092969b86950b1e555e3b4391945/error.go#L48-L52)

[code]

We need to update the parsing logic.

[2016-06-08 22:23] timoreimann commented on #164
Upstream has changed the format in commit mesosphere/marathon@99d25a418ef17105e92a0d372cfc59b70d73520e, which has been in [as long as 1.0.0-RC1](https://github.com/mesosphere/marathon/blob/v1.0.0-RC1/docs/docs/rest-api/public/api/v2/apps.raml#L106-L121).

[2016-06-09 03:40] jacob-koren commented on #162
Yes, that's exactly it. Thank you!

[2016-06-09 05:36] timoreimann commented on #162
Glad to hear!

Will close the issue then. Make sure you upgrade go-marathon once #164 has been merged so that future incarnations of this error present themselves more nicely. :-)

[2016-06-09 05:36] #162 closed

[2016-06-09 10:22] #164 closed

[2016-06-09 15:02] timoreimann commented on #153
Closing now. We can easily open another issue should the API change again.

[2016-06-09 15:02] #153 closed

[2016-06-10 10:49] gambol99 commented on #148
was fixed in #156

[2016-06-10 11:06] emilevauge commented on #148
Thanks a lot @gambol99 :)

[2016-06-11 08:26] #148 closed

[2016-06-11 15:59] jacob-koren commented on #118
I also encountered this issue few days ago, will check again today.

[2016-06-14 02:55] xinxian0458 opened #167 "Application and Group GET API should support embed options."
**For APP:**
embedone of (app.tasks, app.count, app.deployments, app.lastTaskFailure, app.failures, app.taskStats), repeatable
Embeds nested resources that match the supplied path. You can specify this parameter multiple times with different values.
•	app.tasks. embed tasks Note: if this embed is definded, it automatically sets apps.deployments but this will change in a future release. Please defi

[2016-06-27 03:04] #167 closed

[2016-07-18 13:52] dmajere opened #171 "Marathon application schema changes."
`taskKillGracePeriodSeconds` field was added to marathon application struct.
Documentation about it can be found here - https://github.com/mesosphere/marathon/blob/master/docs/docs/rest-api/mesosphere/marathon/api/v2/AppsResource_create.md

Also `secrets` field was added, but i can't find any documentation about it right now, its only mentioned in schema - https://github.com/mesosphere/marathon/bl

[2016-07-20 10:10] wu8685 opened #172 "Missing attribute `port` in struct HealthCheck"
the `port` configuration is not available in struct `HealthCheck`

[2016-07-21 14:29] iderdik commented on #118
I'm pretty sure I'm running into this again as well. Several applications that never came up properly (and never passed healthchecks) were still deemed "ok" and allowed the deploy to complete. I can't replicate reliably but it seems to be happening often enough to indicate a real issue.

[2016-07-21 14:32] iderdik commented on #118
@timoreimann Sorry for missing your comment from December! PR #18 actually made a missing healthcheck indicate failure, not success. Perhaps this issue has resurfaced due to removal of that code?

[2016-07-21 14:41] timoreimann commented on #118
@iderdik could be. Since several people have run into this problem by, I'll try to find some time to dig deeper.

If anyone happens to have a reproducible use case (@jacob-koren maybe?), I'd be happy to hear. :-)

[2016-07-21 16:05] timoreimann commented on #118
I think I found the root cause. Will report back later with a thorough analysis and some data. :-)

[2016-07-21 20:00] timoreimann commented on #118
`curl`ing the Marathon API endpoint continuously while deploying a container, I can see that the `healthChecks` and `tasks` properties get populated progressively. Following are their respective values at various distinct steps:

**Step 1:** both properties yet missing
- healthChecks:
[code]
- tasks:
[code]

**Step 2:** values turn null
- healthChecks:
[code]
- tasks:
[code]

**Step 3:** both valu

[2016-07-21 23:45] #172 closed

[2016-07-23 07:06] #118 closed

[2016-07-23 07:08] timoreimann commented on #118
The issue should hopefully be fixed now. If you experience the problem again with the latest version of go-marathon, please post to this ticket again and / or reopen it.

Thanks!

[2016-07-27 03:52] wu8685 opened #175 "Can not unmarshal the attribute [CurrentStep] in Event [Deployment Info] to object EventDeploymentInfo"
either can EventDeploymentStepSuccess and EventDeploymentStepFailure

Taking EventDeploymentInfo for example, the event response message is:
[code]
But the definition of EventDeploymentInfo is:
[code]
They do not match.

[2016-07-27 06:19] timoreimann commented on #175
Do you use of version of go-marathon recent enough to include #158? There was a fix for a breaking API change in Marathon 1.x in the area you are referring to.

If you do: Can you tell us what version of Marathon you are working with?

Thanks.

[2016-07-27 07:18] wu8685 commented on #175
I am using marathon v1.1.1 and go-marathon on branch master.
I think the PR #158 has broken the EventDeploymentInfo's unmarshalling

[2016-07-27 08:35] timoreimann commented on #175
cc @kevinschoon who worked on the PR back then.

[2016-07-27 13:35] kevinschoon commented on #175
Hi --

Unfortunately #158 only fixed unmarshaling from the `/v2/deployments` endpoint and not the event stream. We would likely need to add some conditional logic [here]( https://github.com/gambol99/go-marathon/blob/master/subscription.go#L236-L239) to support both older and newer versions of Marathon.

If you can provide steps to replicate the problem I can try to apply a fix. I tried locally but

[2016-07-27 16:47] wu8685 commented on #175
First of all, I use `marathonClient.AddEventListener()` with `Config.EventsTransport` set `EventsTransportSSE` which is using marathon api `/v2/events`. And the event json could be logged [here](https://github.com/gambol99/go-marathon/blob/master/subscription.go#L236) by printing `content`. When scaling an app, a event with id `EventIDDeploymentInfo` would be catched there. Then it could be found

[2016-07-28 07:01] timoreimann commented on #175
@wu8685 I believe @kevinschoon is right: #158 apparently did not change the definition of `DeploymentStep`. That PR just introduced a new version of it as `DeploymentStepV1` for the deployments resource which happened to be in use at some other place (the events resource) already.

I could verify that at least Marathon 0.15.2 was already using the new format. I'm going to check 0.14 too later, alt

[2016-07-28 23:10] timoreimann commented on #175
I went back as far as Marathon 0.10 but couldn't find a version parseable with the old (current) step definition. I'm either doing something wrong or the step definition was never working.

[2016-07-29 06:10] wu8685 commented on #175
@timoreimann I m afraid that I'm getting a little confused. Which definition in the following is the `EventDeploymentInfo.CurrentStep` and `old (current) step definition` you mentioned in your last two comments?
[code]
[code]

Do you mean that the older Marathon responses different json schema about `currentStep` from v1.1.1?

[2016-07-29 06:38] timoreimann commented on #175
Sorry, I should have been a bit clearer.

All Marathon versions I have tested (up to and including 0.10) seem to be using a `currentStep` definition equal to `DeploymentStepV1`, i.e.,

[code]

The schema is _not_ different from what we observe in Marathon 1.1.1, which led me to believe that our present definition of

[code]

has either never worked or only worked for rather old Marathon versions a

[2016-07-29 07:15] wu8685 commented on #175
@timoreimann Yes. Thanks for your explanation.

[2016-08-01 09:26] #175 closed

[2016-08-08 22:21] vishr opened #178 "Configurable marathon uri prefix"
In our DCOS deployment we have multiple marathon with different names. These names are used in the marathon API URL.

For example:

- `...:9090/service/marathon/v2/deployments`
- `...:9090/service/mon-marathon-service/v2/deployments`

The library uses fixed name `marathon` https://github.com/gambol99/go-marathon/blob/master/client.go#L247. I think it should be configurable to be able to use multip

[2016-08-09 11:20] timoreimann commented on #178
@vishr thanks for creating the issue. This sounds like a reasonable request. My proposal would be to extend the configuration so that custom names can be defined.

Happy to review any PR you may want to submit. :-)

[2016-08-10 19:11] fsamin opened #179 "Cluster members may have URL prefix"
Hello,

First of all, thanks for your work !

It looks like #178, but i'm not sure it's the same use case.
My Mesos hosts are hosted behind a reverse proxy (`https://<my-host>/marathon/<foo>`).
`newCluster` function (https://github.com/gambol99/go-marathon/blob/master/cluster.go#L109) ignores path.

So I fixed it with this :
 - https://github.com/fsamin/go-marathon/blob/fix-cluster-members-url/clu

[2016-08-19 10:00] #179 closed

[2016-08-19 16:57] gambol99 commented on #178
hi @vishr does https://github.com/gambol99/go-marathon/issues/179 fix your issue?

[2016-08-22 17:12] timoreimann opened #186 "Publish new version tag and define future tag policy"
go-marathon has a single git tag `v0.0.1` which is fairly outdated. I believe we should push another tag now and make it become a habit to do so periodically.

My reasoning is that the Go ecosystem has produced tooling by now which is capable of leveraging and even detecting tag-based semantic versioning. In fact, I noticed the single tag version by running [glide](http://glide.sh/) over our inter

[2016-08-24 13:39] gambol99 commented on #186
Hi @timoreimann ... I'd agree starting from a pre v1.0.0 tags makes sense, glancing through the code recently there's a number of sections where the code looks patchy and would love to clean it up. I think tagging now and raising issues against what we have to fix it.

[2016-08-24 17:02] timoreimann commented on #186
@gambol99, sounds good. I can add the tag. Could you create issues for things you have spotted already?

I think it would also be helpful to create a milestone 1.0.0 and associated those issues to it.

[2016-08-24 20:06] timoreimann commented on #186
Pushed [tag v1.0.0](https://github.com/gambol99/go-marathon/tree/v0.1.0) and created [milestone v1.0.0](https://github.com/gambol99/go-marathon/milestone/1).

[2016-08-25 20:13] gomes opened #189 "HasHealthCheckResults false is not the same as unhealthy"
There is an misunderstanding about HealthCheckResults usage, as I saw in tasks.go allHealthChecksAlive() bool:
    // check: does the task have a health check result, if NOT, it's because the
        // health of the task hasn't yet been performed, hence we assume it as DOWN

It is incorrect to assume this, Marathon in some situations has trouble to do healthchecks, so you can't have results, but

[2016-08-26 12:52] timoreimann commented on #189
@gomes thanks for bringing this to our attention.

Is there a way to reliably identify the cases where health checks are missing but we know for sure that the app is healthy? If not, then the best thing we can do is change `allHealthChecksAlive()`'s return type from boolean to a ternary including an _unknown_ state. However, that function is currently only used by `TaskEndpoints()`, which probably

[2016-08-26 14:46] gomes commented on #189
Hello @timoreimann

Actually not, because HealthChecks are not mandatory. My bigger problem is about HasHealthCheckResults() usage in Traefik, I will open an issue there about it too.

I think a method which returns healthy and unknown  state tasks should resolve this issue, because healthcheck results are not persisted. Traefik just did lost all my app's for about 1 minute after a leader change a

[2016-08-26 22:15] timoreimann commented on #189
@gamos I'm not sure I fully understand yet what part of go-marathon exactly you'd like to see change, and to what extent. Maybe you can be more specific and / or reference that Traefik issue you intend to file in order to see the whole picture. My current thinking is that maybe the resolution of this problem doesn't require any changes to go-marathon but just a proper, domain-specifc interpretatio

[2016-08-29 18:51] gomes commented on #189
I filled an issue there: https://github.com/containous/traefik/issues/653

What about a method to inform if a task is available or not? So you can remove from this only apps which are unhealthy, but preserves those not tested yet

[2016-08-31 14:33] catherinetcai opened #190 "Docker Container PortMapping Labels"
Currently, go-marathon doesn't support labels for Docker container portmappings:

[code]

I think a map should be added on the PortMapping struct to allow for labels to be passed in. These labels are useful for setting VIPs in DCOS.

If you guys find this useful, I already have a fork of go-marathon with these changes.

[2016-09-03 22:19] timoreimann commented on #189
@gomes sorry for the delay. I'll do my best to help this issue moving forward.

IIUC, we'd have to distinguish whether a task is healthy, unhealthy, or unknown to be either. For applications coming with a custom health check, the three states would map to the `Alive` property being true, false, or the health check result missing, respectively. For applications without any health check (i.e., the d

[2016-09-03 22:44] timoreimann commented on #171
Both fields are related to PRs assigned to milestone 1.3. Since Mesosphere has decided to skip 1.2, I think we can expect the next stable release to include proper documentation.

I'd rather wait to add support for either in go-marathon until the features truly end up in the next stable release. Happy to review any PRs of yours though once things have landed.

[2016-09-03 22:45] timoreimann commented on #178
I'll close this issue for now. @vishr, if you think #179 doesn't solve your problem, please don't hesitate to reopen and add more details.

Thanks.

[2016-09-03 22:45] #178 closed

[2016-09-06 22:17] timoreimann opened #194 "TestApplications failing on Go 1.7"
As can be observed on [this Travis CI build run](https://travis-ci.org/gambol99/go-marathon/builds/158021089), running all tests under Go 1.7 produces [an error](https://travis-ci.org/gambol99/go-marathon/jobs/158021092#L202-L229):

[code]

Under Go 1.5 and 1.6, everything is working fine.

[2016-09-06 23:32] timoreimann commented on #194
The problem is that, for no (or `nil`) `url.Values` passed to `marathon.Applications(url.Values)`, `v.Encode()` returns an empty string, leading to the query part of the URL consisting of nothing but a `?`. For Go < 1.7, `url.Parse()` (called by go-marathon indirectly through `http.NewRequest`) would silently eat the empty question mark during printing, whereas Go 1.7 keeps it unless the new `Forc

[2016-09-07 21:52] #194 closed

[2016-09-21 16:20] sybrandy opened #198 "Race condition when sending events to listeners"
Some background: I modified Traefik, which uses this library, to periodically shutdown the Marathon client and create a new one.  This is due to a bug in Marathon where Traefik will stop receiving events when an instance crashes.  AFAIK, this hasn't been fixed yet and I don't know when, hence the work-around.

So, after getting this code working better, I started seeing panic from the below code w

[2016-09-21 18:05] sybrandy commented on #198
Looking at the code a bit more, another option would be to have some recovery in the goroutine that would report what happened, but not crash.

[2016-09-22 16:35] sybrandy opened #199 "Potential goroutine leak when using SSE subscriptions"
The goroutine [here](https://github.com/gambol99/go-marathon/blob/master/subscription.go#L177) listens for events on two channels.  However, the goroutine has no way to know when it should stop.  If I create an application that wants to close the marathon connection, this goroutine will continue to run in the background.  It is highly suggested, and a best practice, that this goroutine be modified

[2016-09-22 22:13] timoreimann commented on #198
@sybrandy thanks for reporting the issue. I wouldn't even say that this represents an atypical use case necessarily. There are possibly a number of consumers out there that dynamically hook on and off to event listeners over a longer period of (run-)time, so the risk to run into the problem you're describing is a function of time as well. And personally, I don't feel very content with race conditi

[2016-09-22 22:15] timoreimann commented on #199
Hopefully the leak can be solved with the same pattern described in https://github.com/gambol99/go-marathon/issues/198#issuecomment-249043546, which is to introduce a `done` channel that the receiver may use as a termination indicator.

[2016-09-23 12:16] sybrandy commented on #198
No problem.  I agree with the Recovery solution.  It's not my favourite, but I didn't want to discount it entirely.

[2016-09-23 12:30] sybrandy commented on #199
I found a bug in the streams library you use that also causes leaks and reported it [here](https://github.com/donovanhide/eventsource/issues/6).  I patched the local copy I have an am testing it now, but I mention it because I wrapped the proposed close method in some code that should stop the goroutine.  Also, I wanted you to be aware of this so that you could incorporate that fix into your code

[2016-09-23 12:35] mdirkse commented on #145
I really like the vendor functionality of [gb](https://getgb.io/), which I understand is what gvt is based on.
So +1 for gvt :)

[2016-09-23 17:54] timoreimann commented on #198
I did some preliminary analysis. Here are my findings:

1. The receiver (i.e., go-marathon consumer) should never close a channel. That's an anti-pattern because you inherently cannot solve the race condition involved. Closing is only for senders and not meant as a resource management primitive.
1. Even if you stopped closing the channel, I think there would still be a problem because a goroutine

[2016-09-23 18:28] sybrandy commented on #198
You hit every nail on the head.  When I stated using unbuffered channels, I meant that you wouldn't send events via a goroutine.  That would prevent the leak entirely at the expense of making sure that your clients used buffered channels.  In that case, then I was able to remove the subscription, drain the events, and then close the channel.  So far, it's working well, but I'm not sure if that's t

[2016-09-24 02:35] ch3lo commented on #145
Hi I have used gvt for a while and I liked it, mainly for it simplicity and usability compared to glide. I think the project should maintain his simplicity.

[2016-09-24 08:00] timoreimann commented on #198
First of all, thanks for exploring the solution space together with me and assessing the various possibilities. I really appreciate it!

I spent some time reading the [Go blog post on pipelines and cancelation](https://blog.golang.org/pipelines) again. It took me a bit to realize that it's describing the exact problem we're experiencing. The canonical solution is to introduce a separate done chann

[2016-09-24 10:31] timoreimann commented on #198
I should mention that with the approach described above, we probably can't have the consumer pass a channel of his own to `AddEventListener` anymore since it could be buffered, and that defeats the `select`ive purpose.

That said, I don't think that passing in a buffered channel makes a lot of sense with the current implementation since we effectively achieve buffering through goroutines.

[2016-09-24 13:14] timoreimann commented on #199
@sybrandy thanks for the pointer to the upstream issue. I noticed that the eventsource maintainer left a few comments on the original PR that's presumably being revived now. Now that you are testing the patch, I wonder if you also intend to address those comments so that we can get a proper fix in?

Thanks!

[2016-09-25 21:30] timoreimann commented on #186
Closing ticket.

@gambol99, feel free to create milestone 1.0.0 issues and associate accordingly.

[2016-09-25 21:30] #186 closed

[2016-09-26 12:12] sybrandy commented on #198
Morning,

Apologies...my weekends are busy, so I'm just getting to this now.

First, everything you stated is correct in terms of using a done channel.  Second, if possible, I'm all for ensuring we have the proper design vs. "just" fixing a race condition.

That being said, my current hangup with the original design is the spawning of a goroutine for each event.  To me, it is not a good design tha

[2016-09-26 12:14] sybrandy commented on #199
I will provide feedback.  The code has been running all weekend, so I need to review some logs to make sure everything is working as expected.  Then I'll report my findings.

[2016-09-26 16:04] timoreimann commented on #198
No need to apologize for not working on the weekends. I'm the strange one here. ;-)

Thanks for your feedback. I fully agree that the solution at hand does not help bounding resource consumption in any regard as far as event handling is concerned. The goal of my PR is explicitly limited to fixing the race condition, however -- it should make things slightly better (stop the memory leaking) but not

[2016-09-26 16:24] sybrandy commented on #198
O.K.  That's reasonable.  When I get a chance, I'll file a new issue regarding the resource usage.  Even here, I'm not seeing too much usage, but that probably won't always hold true and event then, it's probably a best practice to keep that under control just to make sure things to go haywire.

[2016-09-27 12:54] sybrandy opened #208 "Potential goroutine leak when sending events to listeners (subscription.go)"
This is different from #199 and was partially discussed in #198 .

The second of code in question currently looks like this:

	// step: check if anyone is listen for this event
	for channel, filter := range r.listeners {
		// step: check if this listener wants this event type
		if event.ID&filter != 0 {
			go func(ch EventsChannel, e *Event) {
				ch <- e
			}(channel, event)
		}
	}

For each even

[2016-09-27 12:56] sybrandy commented on #198
I created #208 to discuss the resource usage.

[2016-09-27 22:56] #198 closed

[2016-09-28 07:54] upccup opened #210 "about create application"
the create applicaition function is
[code]

and my question is why the parameter need a pointer, and if is a pointer why
[code]
use & and if parameter use pointer why create a new struct as result and not use the pointer of the parameter

[2016-09-28 10:06] timoreimann commented on #210
@upccup Thanks for the feedback. I'll try to answer your questions.

My guess is that the `application` parameter passed to `CreateApplication()` is a pointer because the struct is fairly big, and passing a pointer is more efficient as no fields will need to be copied. (Admittedly, the vast majority of them are pointers, so with a non-pointer argument we'd be copying mostly memory addresses. Still

[2016-09-28 11:15] timoreimann commented on #208
As alluded to in the originating issue, I'm not exactly sure how much of a problem it is that we create goroutines without any limits. To me, Marathon brings a natural boundary in the sense that the number of events are somewhat proportional with the number of applications deployed/running. It probably takes a fairly big cluster to reach a level comparable to, say, web traffic.

The other aspect i

[2016-09-29 12:36] sybrandy commented on #208
First, understood that this may not be a big problem, but not knowing all use cases and the fact that consumers could stop receiving events suggests to me that things could get out of hand with the current design.

Second, agreed.  That's one reason why I proposed having one goroutine per consumer with a fixed-sized buffer in them.  With proper rules for dropping events, resource usage should be c

[2016-10-04 17:13] sybrandy opened #212 "Failover to other nodes in a Marathon cluster not working during event subscription"
So, we recently had an issue where one of our Marathon nodes was "up", but inaccessible.  Unfortunately, our code thought Marathon was down and crashed.  Looking at the logs, it looks like the AddEventListener attempted to connect to the same node several times (we use a retrier) instead of trying different nodes.  It would be better if it would attempt to connect to a different node.  A few thoug

[2016-10-06 09:11] gambol99 commented on #212
hi @sybrandy  ... so just to be clear, essentially the marathon instance was responding to a /ping but ultimately not functioning? ...

[2016-10-06 09:57] timoreimann commented on #208
Sorry for the long delay. Life in the closed-source world was keeping me busy. :-)

You raised a number of good question. I can extend the list by a few more:

- What strategy should be followed if the buffer is full? Options coming to my mind are drop oldest, drop youngest, or drop any.
- Do we want to prescribe buffers to all users? What about those cases where users don't want or need buffers?

[2016-10-06 10:43] timoreimann commented on #212
@gambol99 looking at the cluster code, I get the feeling that it's not doing what we expect it to do: `GetMember()` essentially [iterates through all nodes and returns the first one considered up](https://github.com/gambol99/go-marathon/blob/8908223430b37fc4106d8b8cf1f38cf7124020f1/cluster.go#L167-L170). However, we only seem to start marking nodes as down (and retrying them for liveness again) [i

[2016-10-06 12:35] sybrandy commented on #208
I understand your concern.  Unfortunately, I only have the one use case and I see a lot of events coming through our system.  It's in batches and a lot of them are health checks, but we do run over 2K containers that do get restarted periodically and at different rates.

Thinking about this, I think I may have a relatively sane solution.  Let's say we have an interface that looks something like th

[2016-10-06 12:39] sybrandy commented on #212
@gambol99 it couldn't have been responding to a /ping because, in this case, the marathon port was blocked by a firewall.  I think the other marathon nodes recognized it as being there because it was still in Zookeeper, which somehow maintained quorum.

[2016-10-06 14:41] gambol99 commented on #212
@timoreimann ... yeah, i see what you mean in the cluster.go code. ... Feels somewhat hacky, but since every request is funneled via apiRequest we could loop it;

[code]

[2016-10-06 16:10] timoreimann commented on #212
The loop should work; we just need to make sure that  we cover all error paths. Besides timeouts, there's also connection errors and 5xx responses. And we probably need to synchronize the retry goroutine and the part in `cluster.go` referencing the active node set.

As soon as I find some time I'll take a stab. Let me know if you want to tackle it first though.

[2016-10-07 13:20] gambol99 commented on #212
@timoreimann ... i'm happy to take a look this weekend ...

[2016-10-08 09:29] zyfdegh opened #213 "Timeout when call WaitOnDeployment, returns err "the operation has timed out""
When I start or scale an application, and call client.WaitOnDeployment(id, 0), it returns "the operation has timed out" even if the deployment has done.

[2016-10-08 09:31] #210 closed

[2016-10-08 13:55] timoreimann commented on #212
@gambol99 Sounds good. Happy to review any patches you may send it!

[2016-10-08 14:02] timoreimann commented on #213
@zyfdegh Thanks for reporting. The problem is that a zero-length timeout causes the [timeout channel to fire immediately](https://github.com/gambol99/go-marathon/blob/8908223430b37fc4106d8b8cf1f38cf7124020f1/application.go#L648) unless the [initial existing-and-running check succeeds](https://github.com/gambol99/go-marathon/blob/8908223430b37fc4106d8b8cf1f38cf7124020f1/application.go#L638). I supp

[2016-10-08 14:05] timoreimann commented on #190
Hey @catherinetcai, I believe @Mongey's PR #191 fixed this. I'll close the issue -- if you believe there's still something missing, please don't hesitate to ask for reopening.

Thanks!

[2016-10-08 14:05] #190 closed

[2016-10-11 06:50] zyfdegh commented on #213
I mean sometimes it returns "the operation has timed out" **immediately** if timeout is set to 0 or interval like 30.

[2016-10-11 07:11] zyfdegh opened #217 "If using default config, WaitOnDeployment will wait 138 hours in for loop"
If I using default config, like [example/application.go](https://github.com/gambol99/go-marathon/blob/master/examples/applications/main.go#L45), it will wait for too long in [waitOnDeployment](https://github.com/gambol99/go-marathon/blob/master/examples/applications/main.go#L106) and got stuck. In fact, it will wait 138h53m20s.

After debugging, we found this issue is caused by [a mistake here](ht

[2016-10-11 09:39] timoreimann commented on #217
@zyfdegh thanks for the report. You're right that the additional multiplication is the problem.

With regards to fixing this, I think we could just get rid of `marathonClient.pollingWaitTime`: It should be okay to just reference the value from the configuration object. At least, it looks possible to me on first sight.

I have [pushed a branch with a single timeout value only](https://github.com/ga

[2016-10-11 12:47] zyfdegh commented on #217
Good job! Lightning speed! I'm looking forward of the branch merged to master.

[2016-10-11 12:49] timoreimann commented on #213
Disregard everything I wrote: I referenced `WaitOnApplication` all the time when you meant `WaitOnDeployment`. My bad!

Could this be related to #217? Does #218 help you?

Will try to repro.

[2016-10-11 13:15] timoreimann commented on #213
Was able to repro. It seems unrelated to #217.

[2016-10-11 13:34] timoreimann commented on #217
Still trying to see if I can improve the testing framework in reasonable time to cover our case.

[2016-10-12 14:02] #217 closed

[2016-10-12 14:15] timoreimann commented on #213
Turned out my repro case was flawed. I'm having a hard time now reproducing the issue on master (including #218 as a fix for #217).

`WaitOnDeployment` works fine for me, except for the fact that one has to be cautious to not start to wait for a deployment too early: Even though Marathon returns a deployment ID for operations like `ScaleApplicationInstances`, it does not seem to be immediately ava

[2016-10-25 23:22] yathi-naik opened #224 "ipAddress field not found"
To deploy docker containers onto the overlay network, we have to specify `{"ipAddress": {"network": "$MYNETWORK"}}` in the marathon application definition. But I don't see that in the Application struct.

https://docs.mesosphere.com/1.8/usage/service-discovery/load-balancing-vips/overlay-networks/

[2016-10-26 07:13] timoreimann commented on #224
#223 is about to introduce IP-per-task. We should be able to easily add the network field once it has been merged.

[2016-10-26 19:20] timoreimann commented on #208
Your design sketch does seem reasonable on first sight. I am still concerned though that we invest time and energy into something which might not be a problem for too many users. Maybe that's because people are normally not running that many containers, or they have found alternatives to deal with the problem (like doing the throttling on the consumer side). I wouldn't even mind if we build out th

[2016-10-27 11:46] sybrandy commented on #208
Hello,

I have seen the number of goroutines climb significantly in the code that I'm running, however I don't know if it got to the point of causing any issues as there was another error that I had fixed later that was the root cause of the problems I was seeing.  As for filtering out the health checks, that's one of the things the code looks at.

Unfortunately, that's all I have.  I don't know a

[2016-10-27 17:54] #224 closed

[2016-11-04 05:31] gauravcmu opened #230 "Using multiple endpoints"
Hi, I am running into one issue with creating marathon client using multiple endpoints. My goal is to use two endpoints, in HA mode, allowing failure handling. The problem I observe is that if the first marathon endpoint in the URL is not available due to some reason, my client never falls back to second provided in the client URL. This might be mostly a usage issue, so want to understand whats mi

[2016-11-04 08:16] timoreimann commented on #230
I don't think you are doing anything wrong. There's actually a bug in the logic responsible for failing over to other nodes that we have discovered fairly recently. It's being tracked in #212.

I'll try to get some more focus on the issue.

Thanks for reporting!

[2016-11-04 08:18] timoreimann commented on #212
@gambol99 did you have a chance to work on a fix yet? I can also try to take a stab, though it'll likely take me another week before I can carve out some time.

[2016-11-04 13:33] gambol99 commented on #212
hi @timoreimann, thank you for reminding me!! .. I've the memory for a goldfish! ... I've whipped something up now. The PR is https://github.com/gambol99/go-marathon/pull/231 .. Could definitely use you review though

[2016-11-04 14:06] timoreimann commented on #212
Great -- will try to have a look tonight!

[2016-11-05 00:42] gauravcmu commented on #230
@timoreimann - thank you, appreciate your quick response.

[2016-11-07 14:08] timoreimann commented on #230
@gauravcmu this should be fixed by #231 now. If you are still experiencing issues, please let us know.

[2016-11-07 14:08] #230 closed

[2016-11-07 14:14] timoreimann commented on #212
#231 addressed the problem for regular, non-subscription traffic. Updated the title to be more specific for event subscriptions.

[2016-11-08 04:52] gaopenghigh opened #237 "Use http.Client with Timeout for SSE will Cause Subscription Error"
go-marathon use the same http.Client for both regular HTTP API requests and SSE subscription:

（https://github.com/gambol99/go-marathon/blob/master/subscription.go#L182）:

[code]

If `r.httpClient` have Timeout set, which is needed for normal HTTP API calls, SSE Timeout Error will be raised:
[code]

[2016-11-08 09:14] timoreimann commented on #237
My gut feeling is that we should ignore / disallow the timeout setting on the HTTP client instance when it comes to SSE: That timer covers reading the body, something which (to my understanding) will never finish during an ongoing SSE stream.

[2016-11-08 23:11] timoreimann opened #238 "multiple endpoints now require protocol specifier on every host"
PR #231 (supposedly inadvertently) introduced a change to the way the protocol specifier needs to be given when using multiple endpoints: Prior to that PR, one would use

```http://host1:8080,host2:8080```

which gives me

`Failed to create a client for marathon, error: endpoint: [host2:8080] must have a schema and host`

Now, we need

```http://host1:8080,http://host2:8080```

I _could_ imagine t

[2016-11-08 23:11] timoreimann commented on #238
/cc @gambol99

[2016-11-08 23:50] timoreimann commented on #238
The problem is that `url.Parse` considers `host:8080` to be an opaque URL (like `mailto:user@domain.com`): It sets the scheme to `host` and opaque to `8080` ([playground link](https://play.golang.org/p/rVEBzf0Vxq)).

[2016-11-09 15:22] #238 closed

[2016-11-10 02:36] yathi-naik opened #241 "/ipAddress/discovery/ports missing"
There are 2 issues I'm facing,

First Issue:

I'm using the following in my application definition to launch a container on a DCOS overlay network.

[code]
I see the following error,
[code]

We do not need to specify Discovery and Ports via normal POST to marathon endpoint.

Second Issue:

With the same definition, I'm also seeing,

[code]

[2016-11-10 02:44] yathi-naik commented on #241
Using SetIPAddressPerTask() did not help either.

[2016-11-12 23:07] #241 closed

[2016-11-12 23:08] timoreimann commented on #241
Hi @yathi-naik, issue should be fixed. Could you double-check on your end please? Thanks!

[2016-11-15 03:00] yathi-naik commented on #241
I encountered the error. Here's what I'm doing,

[code]

[code]

[2016-11-15 05:53] timoreimann commented on #241
@yathi-naik did you try the latest master? I should have fixed this two days ago (see my previous message). The referenced PR has exactly your fix.

[2016-11-15 07:13] yathi-naik commented on #241
@timoreimann Sorry, the fix is correct. I had the wrong commit number.

[2016-11-15 09:52] timoreimann commented on #241
No worries. Thanks for verifying.

[2016-11-16 23:57] gambol99 commented on #212
I'll raise a PR to fix this one shortly

[2016-12-14 03:05] timoreimann opened #248 "Use consistent naming scheme for setters"
Some of our convenience setter methods have a `Set` prefix while others don't. We should decide for and implement a consistent naming scheme prior to the 1.0 release.

Personally, I'm very much in favor of having the prefix as it eliminates any confusion on whether a particular accessor  method is a setter or getter.

[2016-12-28 18:21] matt-deboer opened #252 "`deployment_step_success` and `deployment_info` events are not parsed"
Marathon version: **1.3.2**
I receive one of the two alternating error messages below in the debug log when these events are encountered:
`failed to decode the event, id: 32768, error: json: cannot unmarshal object into Go value of type string`
or
`failed to decode the event, id: 65536, error: json: cannot unmarshal object into Go value of type string`

I've included one of the sample events below

[2016-12-28 22:02] matt-deboer commented on #252
This was actually being caused by lack of support for secrets.
Fixed by #253

[2017-01-05 21:31] timvaillancourt opened #254 "Zookeeper-aware mode for finding marathon uri"
Hey guys,

I would like to start a discussion around functionality to get the Marathon URI from Zookeeper instead of an http:// URL. This would allow for much more dynamic deployments as go-marathon would essentially 'discover' where Marathon is instead of requiring a static http:// URI to connect to that could change.

I would be happy to implement this in a PR/branch given some agreement from an

[2017-01-06 02:14] iandyh commented on #199
Hi @timoreimann @sybrandy @gambol99 . I was going to ask similar questions until I found this thread.

There are two scenarios when the connection between go-marathon and Marathon Event Bus should be closed:

1. Applications want to close the connection for whatever reason (Currently there is no solution for the scenario as this PR stated. )
2. There are errors between the client and server, the c

[2017-01-07 23:50] timoreimann commented on #199
@iandyh thanks for the pointer to the eventsource PR and discussion. I have left a comment there.

[2017-01-08 00:06] timoreimann commented on #254
Hi @timvaillancourt. Thanks for bringing your proposal forward.

Just to be sure I understand your use case properly, may I ask if you happen to have a concrete need for the kind of service discoverability you outlined? And are you thinking of retrieving the Marathon URLs from Zookeeper only during the initialization phase, or possibly in an updating fashion during runtime as well?

Personally, I

[2017-01-12 02:28] timvaillancourt commented on #254
Hi @timoreimann, I would probably start simple and only grab the URLs during the init phase of go-marathon if an list of Zookeeper URIs was provided. There is probably a pretty reliable way to gather the list of available Marathon instances from whichever path Marathon is using in Zookeeper.

This would add one dependency, yes. https://github.com/samuel/go-zookeeper seems to be the de facto driver

[2017-01-14 09:45] timoreimann commented on #254
@timvaillancourt a downside from reusing the ZK node that Marathon is already using is that you couple go-marathon's fate to Marathon's as far as ZK discoverability is concerned. That is, if Marathon is ever going to change the ZK backend structure, go-marathon will be affected too. Chances are this won't show up in any change log or README file as it can be considered an implementation detail of

[2017-01-23 14:41] timoreimann commented on #189
Seems to have been fixed upstream in Traefik, so I'm closing the issue for now. If new use cases for having a ternary result pop up, please comment/reopen.

[2017-01-23 14:41] #189 closed

[2017-02-17 13:49] timoreimann opened #257 "Fix missing synchronization issues"
Through a [recently run Travis CI job of mine](https://travis-ci.org/gambol99/go-marathon/jobs/202456091), I found out about concurrent map writes done in [newFakeMarathonEndpoint()](https://github.com/gambol99/go-marathon/blob/cbf9fee141a5c0ad31af56e1552cb11da1473281/testing_utils_test.go#L114). We should synchronize access or localize map usage.

Another problem lives with the `TestWaitOnApplica

[2017-02-17 16:36] #257 closed

[2017-02-21 09:19] f0x11 opened #264 "Group ID omitempty"
[code]
ID should by omitempty.

From https://github.com/mesosphere/marathon/blob/master/docs/docs/rest-api.md#user-content-put-v2groupsgroupid.

If ID isn't empty,  marathon will add a new group into origin group.

[2017-02-22 08:05] xinxian0458 opened #265 "Support GPU resource which is available in marathon 1.3.0"
https://github.com/mesosphere/marathon/releases/tag/v1.3.0

[2017-03-01 22:14] iderdik opened #268 "DeleteApplication fails with "Marathon API Error: ""
I seem to have this intermittent issue where calling DeleteApplication fails with the error `"Marathon API error: "` and no additional info. Nothing appears in the Marathon logs.

I'm using Marathon 1.3.0 and Mesos 1.0.1.

Have you encountered this issue at all?

[2017-03-01 22:22] timoreimann commented on #268
Thanks for the report @iderdik.

The problem is that the error message cannot be parsed anymore. I suppose that Mesosphere has changed the structure of the error JSON response (once again).

Do you have a chance to initialize your go-marathon client with the [LogOutput](https://github.com/gambol99/go-marathon/blob/1bdd2f857d78ffcd3b24cb9131f5abb6e01885c0/config.go#L50) parameter set to `os.Stdout`

[2017-03-14 18:39] catherinetcai opened #271 "Add Support for Pods (Marathon 1.4)"
Marathon 1.4 added pods. They're special groups of containers that share networking and storage resources on a single Mesos agent.

Pods only support the Mesos containerizer and can be interacted with via the /v2/pods endpoints. From the Marathon documentation, sample POST/GET/DELETE:

[code]

` curl GET http://<ip>:<port>/v2/pods/simplepod::status`

`curl -X DELETE http://<ip>:<port>/v2/pods/simp

[2017-03-24 14:04] iderdik commented on #268
@timoreimann I can't get that level of detail turned on in the system I'm seing this with. However, combing through Marathon logs, I do see the DELETE calling returning a `405` error if that helps.

[2017-03-24 14:42] iderdik commented on #268
And I've actually figured the error out (I think). When we inadvertently send a blank Marathon app name to `DeleteApplication` (due to a logic error on my side), this error occurs (with the blank message). Better error handling/condition checking would definitely help here - I'll try to open a PR if  I have some time.

[2017-03-24 14:53] timoreimann commented on #268
Thanks for investigating.

The problem is that we currently [do not encode 405s](https://github.com/gambol99/go-marathon/blob/48f66461ea089ac5f96f0c72e43c0b2acef8e7c2/error.go#L26-L45). The fix is to unmarshal such errors into a dedicated type.

Additionally, we should fall back to showing just the pure JSON content if we can't map the error any better.

[2017-04-03 22:21] timoreimann commented on #212
Hey @gambol99, it's been a while we touched on this issue.

Do you still plan on providing a fix for this?

[2017-04-07 17:27] guilhem commented on #212
We experiment same problem on production (with `traefik`).
First node (in list) was on failure state: instances wasn't updated and on restart subscription never fallback to other masters (up and running).

[2017-04-27 14:43] jangie opened #274 "Health checks do not seem to take Basic Auth into consideration"
From my read of the code, I believe that the health checks against members in a cluster do not take into account the configured  `HTTPBasicAuthUser` and `HTTPBasicPassword` on performing the health check.

To explain why I believe this is the case, `cluster.go`'s  `healthCheckNode` uses `http.Client.Get` (https://golang.org/src/net/http/client.go ), which does not allow for the attachment of custo

[2017-04-27 22:21] timoreimann commented on #274
@jangie thanks for filing a bug report.

I believe your analysis is perfectly correct: Credentials are not taken into consideration when doing health checks against unavailable cluster nodes. To me it seems like we should create a custom struct (maybe a custom HTTP client implementation?) holding HTTP-related parameters (including the credentials) and use it whenever we try to make a request again

[2017-04-27 23:14] jangie commented on #274
@timoreimann thank you for validating, and that sounds like a great approach. I will put together a PR to do this and will ensure it has a proper amount of test coverage.

Thanks!

[2017-04-27 23:15] timoreimann commented on #274
Thanks @jangie, appreciated. 👍

[2017-05-01 16:11] #274 closed

[2017-05-05 14:04] marco-jantke commented on #212
I am currently having a look into this as it is relevant for our production setup. Anyway I will be occupied most of next week, so not sure when I can deliver something. So let me know when $you also start to work on this issue.

[2017-05-08 12:38] kamsz opened #279 "Add support for unreachable strategy and kill selection (Marathon 1.4)"
https://mesosphere.github.io/marathon/docs/configure-task-handling.html

[2017-05-09 08:43] kamsz commented on #279
Fixed in #280

[2017-05-09 08:43] #279 closed

[2017-05-11 22:58] timoreimann opened #281 "Make sure convenience builder setters operate on pointers"
We often employ the builder pattern to simplify constructing objects, like this:

[code]

In order for this to work, each method needs to take a pointer receiver and return a pointer; otherwise, modifications will occur only on ephemeral variables that likely won't be stored anywhere.

One example where we are not doing this correctly is [HealthCheck](https://github.com/gambol99/go-marathon/blob/3

[2017-06-01 09:55] timoreimann commented on #212
This should be fixed now.

[2017-06-01 09:55] #212 closed

[2017-06-01 17:04] timoreimann opened #285 "WaitOnDeployment may return prematurely with wrong result"
As explained in https://github.com/gambol99/go-marathon/issues/213#issuecomment-253225450, it is possible for `WaitOnDeployment` to return prematurely if a given deployment is not returned by the Marathon API yet, giving the caller the false impression that the deployment has completed very quickly.

This needs to be fixed.

[2017-06-14 03:52] zyfdegh opened #286 "Fix typo in struct HealthCheck"
## Source code
Branch: master
Commit: latest one 1b9c2582

## Issue
In file `health.go`, [Line 30][line30], there is a type error in struct HealthCheck
[code]

## Expectation
The tag `ommitempty` should be `omitempty`

[line30]: https://github.com/gambol99/go-marathon/blob/master/health.go#L30

[2017-06-14 04:58] timoreimann commented on #286
Good catch, @zyfdegh!

Would you mind submitting a pull request?

[2017-06-14 05:20] zyfdegh commented on #286
Yeah, I'm on it @timoreimann

[2017-06-14 06:26] timoreimann commented on #286
Fixed.

[2017-06-14 06:26] #286 closed

[2017-06-26 14:58] willgorman opened #292 "DC/OS authentication token expiration"
The tokens issued by DC/OS that are accepted in the `DCOSToken` config have an expiration date.  This means that users need to manage checking for expiration and obtaining a new token themselves.  It would be nice if go-marathon could be configured with credentials (either user/password or service account key) and internally manage obtaining and refreshing tokens.

[2017-06-26 17:01] timoreimann commented on #292
FWIW, I know that the Google cloud libraries have similar needs for refreshing oauth tokens. The way it's handled there is that there's a library sitting on top of the actual cloud libraries responsible for refreshing the token periodically. It's implemented in terms of a custom HTTP transport layer that does the necessary checking behind the scene and is injected into each cloud library, making t

[2017-06-30 02:21] sshkel opened #294 "Library doesn't recover after all marathon nodes go down and brought back up."
I have noticed that there is no way for library to recover after all marathon nodes go down for a long time and the brought back to life.

apiCall will call buildAPIRequest that will only return a marathon member that has status set to memberStatusUp. The only thing that can mark nodes to be up is healthCheckNodes function which is called from markDown function.  So after getting a node from build

[2017-06-30 07:42] timoreimann commented on #294
/cc @marco-jantke who has done some improvements in this regard recently.

[2017-06-30 08:53] marco-jantke commented on #294
Do you have some real case that this is happening? Your description is not valid in this regard, that the `healthCheckNode` is actually calling `buildMarathonRequest` directly which does not know about cluster or whatever, you specify it directly a member of the cluster that should be called.

I tested exactly this behaviour and for me it was working as expected.

[2017-06-30 09:37] timoreimann commented on #294
@sshkel the improvements were added only fairly recently. I suppose you have tried things with go-marathon HEAD?

[2017-07-01 04:16] sshkel commented on #294
Yeah, my bad, i think I was working with the stale version. Repulled head and everything looks good.  Thanks for putting up with my stupidity, fellas.

[2017-07-01 04:16] #294 closed

[2017-07-01 05:25] timoreimann commented on #294
No worries -- glad it's now working for you!

[2017-07-06 10:41] ondrej-smola opened #296 "TestRegisterSEESubscriptionReconnectsStreamOnError fails on windows"
[code]

I am able to reproduce it only on Windows (tested golang 1.8.3 and 1.6.2, Windows 10 Pro Creators Update).  Can be solved by setting http client timeout to e.g. 50 milliseconds -  PR ok?

[2017-07-06 11:38] timoreimann commented on #296
I also ran across this and came to the conclusion that the timeout may be set too low.

@marco-jantke WDYT?

[2017-07-06 12:00] marco-jantke commented on #296
This sounds as the initial connect happens at a moment in time the endpoint1 of that test case is just closing and the connection attempt stays idle. Otherwise I could not explain myself why a client timeout could fix this. @ondrej-smola out of curiosity can you add a short sleep before this [line](https://github.com/gambol99/go-marathon/blob/dd6cbd4c2d71294a19fb89158f2a00d427f174ab/subscription_t

[2017-07-06 12:31] ondrej-smola commented on #296
@marco-jantke sleep before endpoint1.Close() does not work

[2017-07-06 12:47] ondrej-smola commented on #296
Also notice that timeout must be very low < 100 ms. Otherwise it fails even when SSEConnectWaitTime or eventPublishTimeout is set to seconds)

Logs during registerSSESubscription (with custom log line)
[code]
Hangs for 3 seconds inside eventsource.SubscribeWith call

[2017-07-06 13:42] marco-jantke commented on #296
How did you produce this logoutput? Is it now with a client timeout setting? Which timeout setting are you using in specific? I am a bit surprised about it, because it should mark the first cluster member as down immediately, given it can not establish a connection to it. In general a client timeout is tricky here, because it is a SSE connection and so that connection should stay open. So only a t

[2017-07-06 14:04] ondrej-smola commented on #296
I think i found few parts that can together cause this problem.

1. Config uses default go client when no HTTPClient client, this is bad by design IMHO as it does not set any timeout [good [explanation](https://medium.com/@nate510/don-t-use-go-s-default-http-client-4804cb19f779)
2. in  https://github.com/ondrej-smola/go-marathon/blob/master/testing_utils_test.go#L175 first endpoint URL is register

[2017-07-06 15:17] timoreimann commented on #296
@ondrej-smola two separate PRs would be preferable -- thanks!

[2017-07-07 19:54] timoreimann commented on #171
Support for the task kill grace period has been added by now.

[2017-07-10 15:39] timoreimann commented on #213
Closing due to lack of OP activity.

[2017-07-10 15:39] #213 closed

[2017-07-10 20:32] timoreimann commented on #285
I can't reproduce this problem anymore on Marathon 1.3.10, no matter how hard I try.

I called [`HasDeployment`](https://github.com/gambol99/go-marathon/blob/e7edd6c1db09f27aac10036064eff072062fef69/deployment.go#L121) directly on both a local test installation of Marathon as well as three real-world clusters. With each one, a deployment was already running for the ID returned by the `PUT /apps/<i

[2017-07-10 20:32] #285 closed

[2017-07-13 22:38] mtweten commented on #292
I started diving into implementing something like how the golang/oauth2 library implements the custom http transport that you mentioned, until I ended up discovering the [dcos-go](https://github.com/dcos/dcos-go) repo, which contains a [custom http transport](https://github.com/dcos/dcos-go/tree/master/dcos/http/transport) that serves pretty much the same purpose (it is used in a couple Mesosphere

[2017-07-18 10:53] timoreimann commented on #292
One thing to watch out for when considering to add support directly into go-marathon: We are a library, which means we [should not vendor dependencies ourselves](https://peter.bourgon.org/go-best-practices-2016/#dependency-management). (More strictly speaking, we can only vendor hermetically sealed dependencies guaranteed to be not used by our clients, which isn't the case here since we explicitly

[2017-07-24 11:24] timoreimann opened #302 "Example panics on Marathon 1.4"
As reported [here](https://github.com/gambol99/go-marathon/pull/297#issuecomment-317391623) by @ondrej-smola, our examples seem to crash on more recent versions of Marathon. We should investigate.

[2017-07-26 04:36] Colstuwjx opened #303 "Application API should support `embed` arguments"
As the marathon official [documented](https://mesosphere.github.io/marathon/docs/rest-api.html#get-v2appsappidembedembed), we should have it in go-marathon client.

[2017-07-26 08:50] Colstuwjx opened #304 "Missing Version API"
Hi team,

It seems that we don't have [the marathon version](https://mesosphere.github.io/marathon/docs/rest-api.html#get-v2appsappidversionsversion) client.

It would be so cool if we can have this in.
Thanks.

[2017-07-26 09:53] Colstuwjx commented on #304
sorry, I'm wrong, there are already existing `ApplicationByVersion`...

[2017-07-26 09:53] #304 closed

[2017-07-26 13:22] timoreimann commented on #303
That's already possible. Example:

[code]

Anything you're missing?

[2017-07-27 05:33] Colstuwjx commented on #303
Yes, sorry about that.

[2017-07-27 05:33] #303 closed

[2017-07-30 23:21] timoreimann commented on #237
With #297 merged, we now accept another HTTP client specific to SSE subscriptions and return an error if the timeout is set.

Closing issue as resolved.

[2017-07-30 23:21] #237 closed

[2017-08-07 21:02] #296 closed

[2017-08-08 20:34] iderdik opened #307 "latest master fails to compile"
go get yields
[code]

which is odd because your CI seems to be passing.  I'm using golang 1.8.1 on mac and in a linux docker container. Am I missing additional dependencies?

[2017-08-08 21:26] timoreimann commented on #307
@iderdik I suppose you haven't updated `github.com/donovanhide/eventsource` since we merged #282, which introduced the `Close` call (that was added to the eventsource library in donovanhide/eventsource#28).

Can you try `go get -u` to update the package and see if that helps?

[2017-08-08 21:55] iderdik commented on #307
Updating the eventsource reference did the trick. Thanks!

[2017-08-08 21:55] #307 closed

[2017-08-08 23:01] timoreimann commented on #307
Glad to hear!

[2017-08-16 05:32] timoreimann commented on #252
Secrets support is now in thanks to #299. I'll close the issue then. Please comment if anything is still missing.

[2017-08-16 05:32] #252 closed

[2017-08-16 05:33] timoreimann commented on #171
#299 brought support for secrets. This issue is resolved.

[2017-08-16 05:33] #171 closed

[2017-08-16 19:14] mtweten commented on #292
Sorry I hadn't look back on this in awhile. As you saw I went ahead and opened issue #1963 in traefik to hopefully move the discussion forward there. I definitely agree that adding that functionality to go-marathon is problematic given the dependency situation.

The only other option I could think of would be replicating the dcos-go library functionality within go-marathon itself (and removing the

[2017-08-16 19:37] timoreimann commented on #292
@mtweten appreciate you driving forward a solution in Traefik. 👍

Increasing the maintenance burden on go-marathon isn't something I'd totally rule out, but it's certainly not the first route I'd like to pursue.

Ideally, I think there should be a proper third-party library providing just the kind of token refresh functionality we need, where by proper I mean a dedicated package not embedded in a

[2017-08-23 16:07] willgorman opened #308 "Marathon hosts marked as down never become healthy with Marathon 1.4.4"
We've noticed an issue using go-marathon with Marathon 1.4.4 (as part of DC/OS 1.9.2) where we end up in a state where every call to the Marathon API fails and logs "all the Marathon hosts are presently down", despite the Marathon endpoints being reachable and healthy.  I believe this is related to a [change in Marathon 1.4.4](https://github.com/mesosphere/marathon/pull/5380) that causes the `/pin

[2017-08-23 22:45] mtweten opened #309 "Http client configuration no longer honored for event stream connections"
I believe #297 may have introduced a non-passive change to SSE functionality. I was testing a custom build of Traefik using the master branch of go-marathon, and noticed that the SSL configuration in Traefik is no longer used when establishing the SSE connection to marathon using the latest go-marathon code.

This is because Traefik makes use of a custom HTTPClient to supply the SSL configuration,

[2017-08-24 08:34] timoreimann commented on #308
@willgorman thanks for reporting.

If previous versions of Marathon return a proper response on the ping handler even without the Accept header set to JSON, I suppose we can just change go-marathon accordingly. Otherwise, we'll have to resort to something like sending two different requests to `/ping` and see if any returns 200.

[2017-08-24 20:50] iderdik opened #310 "When a member is marked down, we ping Marathon to death"
In [markDown](https://github.com/gambol99/go-marathon/blob/15ea23e360abb8b25071e677aed344f31838e403/cluster.go#L119), we loop through a range of nodes (which results in each `n` being a value copy) and then set its status to `memberStatusDown`. However, because that is being set on the value only, the next api failure will result in reading the original  value `memberStatusUp` and spawning another

[2017-08-24 21:13] iderdik commented on #310
What I was missing is the `members` is ` []*member` an array of pointers.

I'm still stumped as to why we're getting a deluge of pings though.

[2017-08-24 22:58] timoreimann commented on #310
@iderdik thanks for reporting. May I ask what version of Marathon you're using?

I'm vaguely speculating you might be subject to #308 as well.

[2017-08-24 23:01] iderdik commented on #310
After delving in to our app a bit more, I discovered that we recreate the marathon Client when we hit a failure which then allows another go routine to be created. We just moved to 1.4.4 as well so #308 is definitely going to be an issue for us.

[2017-08-24 23:03] #310 closed

[2017-08-24 23:03] iderdik commented on #308
+1

[2017-08-25 00:21] #308 closed

[2017-08-25 00:21] timoreimann commented on #308
@willgorman this should now be fixed. could you try again with the latest master?

[2017-08-25 08:50] timoreimann commented on #309
/cc @ondrej-smola

[2017-08-25 09:50] ondrej-smola commented on #309
There is problem with configuration of client.Timeout - you should set it on non-sse requests and it shoud not be set on sse requests. Setting sse client to non default client would not work as you should set client.Timeout and it would also set sseClient.Timeout which is invalid.

[2017-08-25 13:21] timoreimann commented on #309
@ondrej-smola I actually believe that the problem @mtweten describes is not (strictly) related to timeouts.

When we introduced an HTTP client specific to SSE in #297, we implicitly assumed consumers would choose the right client. Unfortunately, there's a subtle change in behavior if you don't watch closely: If you continue to pass an `HTTPClient` to the configuration (as prior to #297), it is now

[2017-08-25 13:25] ondrej-smola commented on #309
@timoreimann i know, i just reacted to "If a custom HTTPSSEClient is not supplied, would it make sense to default HTTPSSEClient to HTTPClient if a custom HTTPClient is supplied".

[2017-08-25 13:26] timoreimann commented on #309
Gotcha.

I think we'll have to take that into account and, when in doubt, return an error to the consumer.

I'll try to put something together.

[2017-08-29 21:40] #309 closed

[2017-09-12 08:47] kshitizbakshi opened #324 "Marathon 1.5 API Support"
Hi,
[DC/OS 1.10 Stable](https://dcos.io/releases/1.10.0/) has been released. It brings along Marathon 1.5, which introduces breaking changes to the API. Specifically, the networking section has been revamped with new features. [Marathon 1.5 changelog](https://github.com/mesosphere/marathon/blob/master/changelog.md).

Marathon 1.5 will still **accept 1.4-based** app definitions, but **will only gen

[2017-09-12 08:49] timoreimann commented on #324
@kshitizbakshi thanks for your issue.

go-marathon is driven by volunteers only -- I'm not aware of anyone that has committed adding support for 1.5 already. Feel free to take a stab yourself if you like to drive this forward.

[2017-09-13 15:25] mikekatica commented on #324
I am experiencing these problems in Traefik. So far, the only difference in the Marathon API I have found is that "ipAddress" no longer is part of the top level app api. So IP-Per-Task always returns nil. I will take a stab at fixing that.

[2017-09-13 16:38] mikekatica commented on #324
So far, I have confirmed this for Docker runtime services. Marathon 1.5 does not add an empty "IPAddress" section like 1.4 does. Might be best to just handle that outside of the library.

[2017-09-14 04:32] kshitizbakshi commented on #324
There are more differences, which also correspond to new features in this version of DC/OS. The whole networking API has been revamped, since the UCR and the Docker containerizer now have feature parity on networking. I'll try to summarize some of these changes here.

The new API moves networks to a top level field, and networks is no longer a part of the container.docker field.

The network type

[2017-09-14 04:33] kshitizbakshi commented on #324
One small issue I see here is that even if someone patched support for Marathon 1.5, how do we maintain support for the 1.4 API as well alongside? It will take time for a lot of people to move from 1.4 to 1.5.

[2017-09-14 04:58] timoreimann commented on #324
@kshitizbakshi thanks for the summary.

You raise a very good question about the compatibility point. I can see at least two ways to deal with this:

1. add convenience getters for API-broken fields that try retrieving values from the new fields and in the case of absence try the old one. Of course, this only works if we can tell new and old field versions apart non-ambiguously.
1. just add suppor

[2017-09-15 18:34] mikekatica commented on #324
Might be best to do a combination of the two. I am currently starting work in the marathon1.5 branch, and already have the "Networks" piece done, but when doing portDefinitions vs portMappings, it might be possible to roll them together. I want to get some feedback before I commit.
[Relevant Marathon API](https://github.com/mesosphere/marathon/blob/v1.5.0/docs/docs/networking.md#examples)

[2017-09-15 20:00] timoreimann commented on #324
@mikekatica what's your current plan with regards to the port specs?

go-marathon already supports both. My gut feeling is that we shouldn't try to conflate the two. What we could do is to provide convenience setters specific to mode structs we'd define (host vs. container). Those would come on-top of the basic primitives you could use to hook up the right combination of mode and ports on your own

[2017-09-15 20:21] mikekatica commented on #324
Sure. I wasn't sure where the handling of the portMappings came from, but that seems like something I can just dig for. Yes, I agree it is best to handle setting them where applicable based on the network definition.

[2017-09-15 20:51] mikekatica commented on #324
@timoreimann Can you point me in the right direction here? I have run some test code against my working marathon instance, and the portMappings do not show from app.PortDefinitions. I must be missing something.

[2017-09-15 20:57] mikekatica commented on #324
Ahh, the "Ports" part of the application API is deprecated. So looks like I'll add PortMappings, and modify the setter to pick the right one based on the container network type.

[2017-09-15 21:04] mikekatica commented on #324
Looks like portMappings  in Container.Docker is not being populated properly for some reason. Otherwise, should be correct.

[2017-09-16 06:20] kshitizbakshi commented on #324
I think the portMappings in Container.Docker is removed now, and hence the API response from Marathon wouldn't have it. The new place for portmappings is Container.PortMappings.

Marathon 1.5 would still accept the app definitions in the old style, but when it gives you responses it'll use the new style.

[2017-09-16 06:23] kshitizbakshi commented on #324
Ah, I see now that you've already made that change in your feature branch.

Also a general question here - we don't do any validation in Go-Marathon, right? For example, port mappings is only applicable for container/bridge networks (also container, maybe), and portDefinitions only for host networks. We leave that intelligence to the user?

I was thinking of adding a UCR container type option (tha

[2017-09-16 06:59] timoreimann commented on #324
@kshitizbakshi I think a custom UCR container could fit well as we already have a small amount of container structs and helper methods producing values guaranteed to be consistent with Marathon semantics.

We should just make sure that users can still achieve the same by constructing everything manually to ensure that arbitrary configurations can be put together even in the absence of a particular

[2017-09-16 07:14] kshitizbakshi commented on #324
What exactly do you mean by custom UCR container? Like a application.Container.UCR construct in go-marathon?
Because although there is a field "container.Docker" in the Marathon API, there isn't any for container.UCR; the API is weird in that sense. The way to set the UCR is to set the "type" to "MESOS" instead of "DOCKER". the container.Docker section still remains, which can define the Docker im

[2017-09-17 06:39] timoreimann commented on #324
@kshitizbakshi on second thought, a custom UCR type as I imagined it might not make so much sense since we'd supposedly have to duplicate many of the methods currently implemented on the `Docker` type.

So your idea to add a type option might be a better approach. Where and how would you fit it in exactly? I guess seeing some of your code would answer that question most easily.

There's also the o

[2017-09-18 06:26] kshitizbakshi commented on #324
@timoreimann The way I did it in my fork to quickly test things out, is in [this commit](https://github.com/kshitizbakshi/go-marathon/commit/db9bb607c8c0fe508e08b6d66dee9c37effd5678). I'm new to Go, so some things might not be idiomatic. The type option already exists, I just created a convenience function on Container to set the type to "MESOS". In addition, I had also forced some variables to th

[2017-09-18 08:31] timoreimann commented on #324
@kshitizbakshi I'm okay with the approach you have taken. Technically, I wouldn't call it forcing parameters since nothing would keep users from trying to set the wrong port kind. That might not be necessary though, so let's keep it simple until we know it's not good enough and we can do better.

One thing though: we already have `NewDockerContainer`, so how about naming your function `NewUCRConta

[2017-09-19 18:25] zanes2016 opened #325 "lastTaskFailure is always nil"
The lastTaskFailure field does not seem to be parsed correctly; it is always nil.

Marathon Version: 1.4.7-1.0.657.ubuntu1404

Is anyone else experiencing this same issue?

Here's a the sample curl command that shows the lastTaskFailure:
[code]

Here's a MarshalIndent output of the same App that is missing the lastTaskFailure:

[code]

Here's a code snippet of what I have to print the above json s

[2017-09-20 09:39] kshitizbakshi commented on #324
Yeah that sounds much better, thanks! I guess we could also have a `NewUCRApplication` function corresponding to the `NewDockerApplication` one.
But anyway, sorry for causing digression; this issue is about the 1.5 Networking API changes. Lets continue this when I create a PR for UCR?

[2017-09-20 10:16] timoreimann commented on #324
@kshitizbakshi I'm fine with using this issue as a tracker for everything related to getting go-marathon ready for Marathon 1.5. For more specific discussions, however, it's probably good to spawn off separate issues and/or PRs.

So yeah, please go ahead and submit a PR. Happy to review (though I'm somewhat short on time right now and still have to finish the Pod support PR first).

[2017-09-21 18:09] #325 closed

[2017-09-21 18:12] zanes2016 commented on #325
This is not an issue. This was a misunderstanding of the API.

client.Application("app-name") properly returns the LastTaskFailure field as supplied by the URI endpoint /v2/apps/app-name. Marathon URI endpoint /v2/apps does not return LastTaskFailure for each app; which is why it is empty in the client.Applications() call.

[2017-10-20 08:35] kamsz commented on #324
@timoreimann @kshitizbakshi I've started working on migrating to 1.5 API here: https://github.com/ContainerLabs/go-marathon/tree/marathon1.5.

[2017-10-27 18:53] katallaxie commented on #324
When do we see this in master? There is a related issue https://github.com/containous/traefik/issues/2115 which would then be fixed.

[2017-12-21 16:19] chrispickard opened #332 "example in readme doesn't compile"
Hey, just wanted to let you know that I copied what's in the readme from "Creating a client" and "Listing the applications," and this did not compile. Specifically, `client.Applications` now takes an arg, the printf should contain a `%v` instead of `%s` and `assert` is not defined.

[2017-12-22 09:22] timoreimann commented on #332
@chrispickard thanks for reporting. 👍 I'll try to submit a PR over the holidays unless someone beats me to it.

[2017-12-23 10:45] #332 closed

[2017-12-23 10:45] timoreimann commented on #332
@chrispickard I fixed the problems you've mentioned and applied a few other improvements. Hopefully everything should be working now. If not, please report back.

Thanks again. 👏

[2017-12-23 10:46] timoreimann commented on #281
Fixed by #311.

[2017-12-23 10:46] #281 closed

[2018-01-14 09:12] luisdavim commented on #324
It would be great if this lib would have some support from mesosphere.

[2018-01-17 11:16] luisdavim commented on #324
this PR #327

[2018-02-01 08:13] iandyh opened #336 "Issues regarding to SSE events"
There are some issues with SSE events that I like to discuss because I don't know how it can be moved on.

1. Currently `go-marathon` is using `https://github.com/donovanhide/eventsource` as underlying client. However, the client itself has some issues. For example,  https://github.com/donovanhide/eventsource/pull/33. It seems like it might take some time to get it fixed. Rewriting the client will

[2018-02-07 00:15] timoreimann commented on #271
This has been addressed by now.

[2018-02-07 00:15] #271 closed

[2018-02-07 00:34] timoreimann commented on #336
Hey @iandyh, thanks for your questions. Here are my thougths:

1. I can see two options here: a) Invest into the eventsource library to fix the issues that we need to get fixed; or b) try to find another library. I can't tell which of the two options might be better; from my experience though, getting feature requests and bug fixes into eventsource has never been a problem from a collaborative per

[2018-02-08 02:25] iandyh commented on #336
Hi @timoreimann, Thanks for the response.

Speaking 1 and 2, I'll still argue having timeout is the easiest way to solve the problem. The implementation will also be much easier from `go-marathon` point of view. A likely solution will be like

[code]

Regarding to issue 3, somehow I cannot reproduce the issue anymore. But I found a relevant discussion on stackoverflow: https://stackoverflow.com/qu

[2018-02-16 22:07] timoreimann commented on #336
hey @iandyh

Hm, not sure if I can follow you: 1. seems to be about the eventsource library in general, and 2. about exposing stream errors from the library. Are you suggesting to generate an error artifically after some static time interval?

Re: 3: How about using a channel buffer with a configurable size (so that the impact of slow consumers is limited)?
A further extension could be to use a ri

[2018-02-19 16:41] kevinschoon commented on #324
FWIW I am running the code in https://github.com/gambol99/go-marathon/pull/335 against Marathon 1.5 and it has been working mostly well. An ideal situation would be Mesosphere releasing protobuf definitions along side Marathon but their code doesn't seem setup to do that.

[2018-02-28 03:32] iandyh commented on #336
Yes, and during the interval, the event source library should do the retry. Moreover, I also think `go-marathon` should set a configurable timeout here and simply close the connection after timeout and return errors to the application. The application needs to refresh Marathon state and re-initiate the SSE connection.

Regarding to issue 3. Not sure about it. Probably it's overkilled? Because it w

[2018-03-01 22:57] timoreimann commented on #336
In general, I'd prefer to strive for a deterministic solution where errors are generated and exposed exactly when an issue has knowingly been detected. Relying on timeouts feels like a workaround that may exacerbate attaining properties like correctness and performance on the user's end. But maybe I'm still missing a point here?

As far as eventsource is concerned, the maintainer has expressed wil

[2018-03-03 22:16] #268 closed

[2018-06-08 20:27] timcharper opened #344 "Remove dependency on plan field"
Hello!

Marathon is removing some fields from the event stream as they were problematic in larger clusters. Specifically, the fields `plan.original`, and `plan.target`.

Original (as rendered by default in Marathon 1.5.x)
{
  "id": "test-deployment",
  "plan": {
    "id": "42f3b763-ba19-45c6-9a68-207edfc78bc0",
    "original": {"id": "/", "apps": [], "pods": [], "groups": [], "dependencies": [], "

[2018-07-16 23:38] timcharper opened #349 "Client should be updated to follow /v2/events redirection responses"
Hello!

In mesosphere/marathon#6211, we will change the behavior in 1.7.x to respond with a redirect call when /v2/events is requested from a standby/non-leader Marathon instance.

The code should be updated to follow redirects in such a case.

The old proxying behavior can be optionally extended until Marathon 1.8.x, at which point the old proxying will be totally removed.

[2018-08-19 00:48] msabramo commented on #105
I wonder why the library supports passing in multiple endpoints, as opposed to passing in a single endpoint which points to a load balancer?

Was the multiple endpoints feature added because having the library handle this was thought to be superior, or was it just for folks who don’t have or don’t want to deal with a separate load balancer?

[2018-08-19 21:34] timoreimann commented on #105
@msabramo the LB approach seems totally valid, and nothing should stop you from running go-marathon in that setup.

What go-marathon does under the hood though when you specify multiple endpoints is that it automatically fails over to other hosts if the initial one is not available, marking it as down, and periodically trying to get it back into rotation if it proves to come alive again. I suppose

[2018-08-20 15:11] msabramo commented on #105
Thanks, @timoreimann!

We currently use the LB approach (and the LB is doing similar things to what go-marathon does) and I was wondering if we were losing out on resiliency benefits by not giving all of the endpoints to go-marathon. It sounds like we're not losing anything, so that's great.

Thanks for responding!

[2018-10-22 11:46] Komey opened #350 "Can wipe task support?"
https://github.com/gambol99/go-marathon/blob/6d1efaff86d484701d242bee396e7bdd35ce27d2/task.go#L70

[code]

[2018-10-30 18:15] riot-jayb opened #351 "Closing SSE Subscriptions"
Hello,

We recently noticed when using the event listener functionality that the `RemoveEventListener()` does not clean up the stream if using SSE mode.

Based on the current code, it seems that this would not be an issue if you (a) reuse the marathon client or (b) use one global SSE listener for all deploys. Unfortunately we are currently recreating marathon client on every deploy, and also tryin

[2019-03-16 03:07] geoffrhodes opened #356 "Support for fetching files from task sandbox"
Hello,

I want to add support for list and fetching files from a task's sandbox via the endpoints described here: https://docs.mesosphere.com/1.12/monitoring/logging/logging-api/#/

I was not sure how you felt about supporting DC/OS specific endpoints which this seems to be. The most appropriate place I see to add this would be as member functions on the Task struct. If this all sounds appropriate

[2019-03-17 21:05] timoreimann commented on #356
Hey @geoffrhodes,

I don't think it's problematic to add support for DC/OS-only features as long as we clearly describe them as such (e.g., leave a GoDoc comment).

Is the Task struct you intend to attach the new functionality on rooted in both Marathon and DC/OS? If so, then I'm okay with using that. OTOH, if the Task struct is more of an arbitrary place because no other seems more appropriate to

[2019-04-02 00:55] geoffrhodes commented on #356
Hey Tim, I appreciate the feedback. After digging at it a little bit it isn't as clean to add to this package as I thought. The way the base path is added to the cluster members makes it difficult to hit non-Marathon endpoints without adding more overarching Mesos / DCOS support or refactoring the existing client endpoints to allow overriding the base path.

[2019-04-02 01:36] timoreimann commented on #356
hey @geoffrhodes, thanks for the update.

I haven't worked with DCOS myself but I know we added at least some level of support for it to go-marathon in the past. If you check out the README [here](https://github.com/gambol99/go-marathon/blob/80365667fd5354cd063520a8ca8f53dfad6e6c81/README.md#creating-a-client) you should find an example on how to configure a client with a custom URL and DCOS token

[2019-04-18 19:12] kstedman9 opened #357 "MESOS Container Type Support"
MESOS Container type (UCR) support for a marathon job needs to be able to use the PullConfig secrets field in the Docker struct.  This field is just a string that maps to a secret.  Not sure what version of Marathon it was added in but I am using Enterprise DCOS 1.11.x with Marathon 1.6.x.

I currently forked the master branch to add this for my purposes but it would be nice to get it into the cod

[2019-12-26 07:26] #357 closed

[2020-09-18 11:23] janisz opened #368 "Support CSI Volume definition"
ExternalVolume supports only KV options
https://github.com/gambol99/go-marathon/blob/e17848581931aeb4733b71a43306bd444ae7eede/docker.go#L127
in https://github.com/mesosphere/marathon/pull/7213 Marathon added another ExternalVolume definition

[2020-09-18 13:55] #368 closed, assigned to nobody

[2021-08-30 10:48] creekorful opened #373 "Consider making a new release?"
Hello, there!

I'm working on packaging your library on Debian and was wondering it it's possible for you to make a new release (v0.7.***2***?), several fixes you've made since v0.7.1 would be greatly appreciated :)

Thanks in advance!

Cheers,